<li id="map-variable-text" class="map-variable-container">
    <span class="refine-menu-header-mobile">
        <em class="fa odn-caret fa-caret-down"></em>
        <span>
            <%= variable.name %>
        </span>
    </span>

    <ul class="chart-sub-nav-menu" id="map-variable-list" style="display: none;">
        <% _.values(dataset.variables).forEach(option => { %>
            <li>
                <a href="<%= navigate.variable(option.id).url() %>">
                    <%= option.name %>
                </a>
            </li>
        <% }); %>
    </ul>
</li>

