<footer role="contentinfo">
    <a href="http://tylertech.com/products/data-insights" target="_blank" aria-label="Empowered by Tyler Technologies">
        <img src="/images/tyler-empowered-logo-white.svg" alt="Empowered by Tyler Technologies" role="presentation" />
    </a>
    <a class="text-link" target="_blank" href="https://www.tylertech.com/privacy">Privacy Policy</a>
</footer>
