<footer>
    <div id="footer-content">
        <a id="footer-about-socrata" href="http://socrata.com/company-info/">About Socrata</a>
        <a id="footer-powered-by-socrata" href="http://socrata.com"><img src="/images/footer-powered-by-socrata.png" alt="Powered By Socrata"></a>
    </div>
</footer>