<div id="captcha-modal" style="display: none;" role="dialog" aria-labelledby="captcha-title" aria-describedby="captcha-description">
  <div class="captcha-container">
    <button type="button" class="captcha-close" id="captcha-close" aria-label="Close">&times;</button>
    
    <div class="captcha-title" id="captcha-title">Verify Human Access</div>
    <p id="captcha-description">To continue to the requested data, please complete this verification:</p>
    
    <div id="recaptcha-container" class="g-recaptcha-container">
      <!-- Google reCAPTCHA will be rendered here -->
      <div id="g-recaptcha" class="g-recaptcha"></div>
    </div>
    
    <div class="captcha-note">
      This verification helps prevent automated data scraping.
    </div>

    <div class="captcha-loading" id="captcha-loading" style="display: none;">
      <div class="captcha-spinner"></div>
      <div>Loading data...</div>
    </div>
  </div>
</div>

<!-- reCAPTCHA API script -->
<script src="https://www.google.com/recaptcha/api.js<% if (GlobalConfig.recaptcha && GlobalConfig.recaptcha.site_key) { %>?render=<%= GlobalConfig.recaptcha.site_key %><% } %>" async defer></script>