<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="description" content="Introducing the Open Data Network the new hub for the vibrant and growing open data ecosystem." />
    <meta name="keywords" content="open data, government data, housing data, restaurant inspecitions data, transit data, health data, crime data, permit data" />
    <title><%=
        (typeof(title) == 'undefined') ?
        'Introducing the Open Data Network the new hub for the vibrant and growing open data ecosystem.' :
        title %></title>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <link href="//fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="/styles/<%= css %>" rel="stylesheet" type="text/css">
</head>
<body>
