<footer role="contentinfo">
    <a href="http://www.socrata.com/company-info/" target="_blank" aria-label="Powered by Socrata">
        <img src="/images/v3-powered-by-socrata.png" alt="Powered by Socrata" role="presentation" />
    </a>
</footer>

<% include _google-analytics %>

</body>
</html>
