        <footer role="contentinfo">
            <a href="http://tylertech.com/products/data-insights" target="_blank" aria-label="Empowered by Tyler Technologies">
                <img src="/images/tyler-empowered-logo-white.svg" alt="Empowered by Tyler Technologies" role="presentation" />
            </a>
            <a class="text-link" target="_blank" href="https://www.tylertech.com/privacy">Privacy Policy</a>
            <% if (typeof GlobalConfig !== 'undefined' && GlobalConfig.recaptcha && GlobalConfig.recaptcha.enabled) { %>
              <p class="recaptcha-disclosure">This site is protected by reCAPTCHA and the Google 
                <a href="https://policies.google.com/privacy" target="_blank">Privacy Policy</a> and
                <a href="https://policies.google.com/terms" target="_blank">Terms of Service</a> apply.
              </p>
            <% } %>
        </footer>

        <%- include ("_google-analytics") %>
        <%- include ("_usersnap") %>

        <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,800" rel="stylesheet">
        <link href="//fonts.googleapis.com/css?family=Lato:400,700,900" rel="stylesheet">
        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css" rel="stylesheet">

        <% if (typeof asyncCSS !== 'undefined') { %>
            <% asyncCSS.forEach(path => { -%>
                <link href="<%= path %>" rel="stylesheet">
            <% }); -%>
        <% } %>

        <script><%- javascript %></script>
    </body>
</html>
