<section class="hero-section-mobile">
    <p>Publish data and share. Find data and build. Answer questions.</p>

    <a href="https://fast.wistia.net/embed/iframe/0jjxetu1ys?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155] play-button-mobile" aria-label="Watch video about Open Data Network">
        <em class="fa fa-play-circle-o" aria-hidden="true"></em>
        Play Video
    </a>
</section>
