<section class="partners-section">
    <div class="container">
        <strong class="section-heading">Partners</strong>

        <div class="slider">
            <div><a href="http://zillow.com" aria-label="Go to zillow" target="_blank"><img src="/images/v3-zillow.png" alt= "zillow" aria-hidden="true" /></a></div>
            <div><a href="https://www.buildingeye.com/" aria-label="Go to Building Eye" target="_blank"><img src="/images/v3-building-eye.png" alt="Building Eye" aria-hidden="true" /></a></div>
            <div><a href="http://civicinsight.com/" aria-label="Go to Civic Insight" target="_blank"><img src="/images/v3-civic-insight.png" alt="Civic Insight" aria-hidden="true" /></a></div>
            <div><a href="http://www.basicgov.com/" aria-label="Go to Basic Gov" target="_blank"><img src="/images/v3-basic-gov.png" alt="Basic Gov" aria-hidden="true" /></a></div>
            <div><a href="http://www.buildfax.com/" aria-label="Go to Build Fax" target="_blank"><img src="/images/v3-build-fax.png" alt="Build Fax" aria-hidden="true" /></a></div>
            <div><a href="http://www.realtytrac.com/" aria-label="Go to Realty Trac" target="_blank"><img src="/images/v3-realty-trac.png" alt="Realty Trac" aria-hidden="true" /></a></div>
            <div><a href="http://www.sitecompli.com/" aria-label="Go to Site Compli" target="_blank"><img src="/images/v3-site-compli.png" alt="Site Compli" aria-hidden="true" /></a></div>
            <div><a href="http://www.ontodia.com/" aria-label="Go to Ontodia" target="_blank"><img src="/images/v3-ontodia.png" alt="Ontodia" aria-hidden="true" /></a></div>
            <div><a href="https://www.accela.com/" aria-label="Go to Accela" target="_blank"><img src="/images/v3-accela.png" alt="Accela" aria-hidden="true" /></a></div>
            <div><a href="http://www.citiesense.com/" aria-label="Go to Citiesense" target="_blank"><img src="/images/v3-citiesense.png" alt="Citiesense" aria-hidden="true" /></a></div>
            <div><a href="http://seeclickfix.com/" aria-label="Go to See Click Fix" target="_blank"><img src="/images/v3-see-click-fix.png" alt="See Click Fix" aria-hidden="true" /></a></div>
            <div><a href="http://broadside.digital" aria-label="Go to Broadside Digital - Mobile app developer in Seattle" target="_blank"><img src="/images/v3-broadside.png" alt="Broadside Digital - Mobile app developer in Seattle" aria-hidden="true" /></a></div>
        </div>

        <a class="join" href="/join">Join the Network</a>
    </div>
</section>

<section class="partners-section-mobile">
    <a class="join-mobile" href="/join">Join the Network</a>
</section>