<section class="partners-section">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><a href="http://zillow.com"><img src="/images/v3-zillow.png"></a></div>
            <div><a href="https://www.buildingeye.com/"><img src="/images/v3-building-eye.png" alt="Building Eye"></a></div>
            <div><a href="http://civicinsight.com/"><img src="/images/v3-civic-insight.png" alt="Civic Insight"></a></div>
            <div><a href="http://www.basicgov.com/"><img src="/images/v3-basic-gov.png" alt="Basic Gov"></a></div>
            <div><a href="http://www.buildfax.com/"><img src="/images/v3-build-fax.png" alt="Build Fax"></a></div>
            <div><a href="http://www.realtytrac.com/"><img src="/images/v3-realty-trac.png" alt="Realty Trac"></a></div>
            <div><a href="http://www.sitecompli.com/"><img src="/images/v3-site-compli.png" alt="Site Compli"></a></div>
            <div><a href="http://www.ontodia.com/"><img src="/images/v3-ontodia.png" alt="Ontodia"></a></div>
            <div><a href="https://www.accela.com/"><img src="/images/v3-accela.png" alt="Accela"></a></div>
            <div><a href="http://www.citiesense.com/"><img src="/images/v3-citiesense.png" alt="Citiesense"></a></div>
            <div><a href="http://seeclickfix.com/"><img src="/images/v3-see-click-fix.png" alt="See Click Fix"></a></div>
            <div><a href="http://broadside.digital"><img src="/images/v3-broadside.png" alt="Broadside Digital - Mobile app developer in Seattle"></a></div>
        </div>
        <a class="join" href="/join">Join the Network</a>
    </div>
</section>

<section class="partners-section-mobile">
    <a class="join-mobile" href="/join">Join the Network</a>
</section>