<header role="banner">
    <h1 class="logo">
      <a href="/" title="Open Data Network" ><span class="sr-only">Open Data Network</span></a>
    </h1>
</header>

<div class="home-search-bar" role="search">
    <% include _search-bar-controls %>
</div>
