<section class="questions-section">
    <div class="container">
        <h4>Questions</h4>
        <a class="questions-dropdown">Show Sample Questions<i class="fa fa-caret-down"></i></a>
        <div class="questions-list-container">
            <ul class="questions-list">
            <% questions.forEach(function(question, index) { %>
                <li<% if (index >= 10) { %> class="hidable hidden<% if (index >= 20) { %> hidden-on-mobile<% } %>"<% } %>>
                    <a href="<%= question.url %>">What is the <%= question.variable_name.toLowerCase() %> of <%= question.entity.name %>?</a>
                </li>
            <% }); %>
            </ul>
            <a href="javascript:void(0)" class="more-questions-link">Show More</a>
        </div>
    </div>
</section>
