<div class="hero-section" role="region">
    <div class="container">
        <h2>
            Open Data Network
        </h2>

        <p>Publish data and share. Find data and build. Answer questions.</p>

        <br/>
        <br/>

        <div class="home-search-bar-controls" role="search">
            <% include _search-bar-controls %>
        </div>
    </div>
</div>
