<header>
    <a class="logo" href="/" title="Open Data Network"></a>
    <div class="menus">
        <div id="menu-item-communities">
            <a class="menu-item-link">Data by Category<i class="fa fa-caret-down"></i></a>
            <ul id="menu-communities" class="menu">
                <% categories.forEach(function(result) { %>
                <li><a href="/search?categories=<%= encodeURIComponent(result.category) %>"><%= result.category %></a></li>
              <% }); %>
            </ul>
        </div>
    </div>
</header>
