<section class="hero-section-mobile">
    <p>
        The Open Data Network connects publishers of high-value data to the businesses, developers, and analysts that use, reuse, and enrich data.  The members of the network work together to share best practices, adopt standards, and advocate for open data broadly.
    </p>
    <a href="https://fast.wistia.net/embed/iframe/0jjxetu1ys?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true" class="wistia-popover[width=640,height=360,playerColor=#636155] play-button-mobile">
        <i class="fa fa-play-circle-o"></i>
        Play Video
    </a> 
</section>
