
<div class="map-summary-container">
    <a class="map-summary-more">More Information</a>
    <p class="map-summary"><%= mapSummary %></p>
    <ul class="map-summary-links hidden">
        <% mapVariables.forEach(variable => { %>
            <li><a href="<%= variable.url %>"><%= variable.name %></a></li>
        <% }); %>
    </ul>
</div>

