<div class="map-summary-container">
    <a class="map-summary-more">More Information</a>
    <p class="map-summary"><%= mapSummary %></p>
    <ul class="map-summary-links hidden"><% mapSummaryLinks.forEach(link => { %><li><a href="<%= link.url %>"><%= link.text %></a></li><% }) %></ul>
</div>
