<div class="map-container">
    <p id="map-summary" style="display: <%= description === '' ? 'none' : 'block' %>">
        <%= description %>
    </p>
    <div id="map-container-desktop">
        <div id="map-container">
            <div id="map"></div>
        </div>
    </div>
</div>
