<div class="refine-controls">
    <div class="chart-tabs-container">
        <% include _topic-menu %>
    </div>
    <div class="chart-sub-nav-container">
        <ul class="chart-sub-nav">
            <% include _dataset-menu %>
            <% include _variable-menu %>
            <% include _constraint-menu %>
        </ul>
    </div>
</div>
