
<div id="questions">
    <% if (typeof questions != 'undefined' && questions && questions.length > 0) {

        const question = questions[0];
        const rg = question.variable_id.split('.');
        rg.pop();

        const datasetId = rg.join('.');
    %>
        <h2>
            Questions
        </h2>

        <div id="sidebar-questions">
            <% include _question-list %>
        </div>
    <% } %>
</div>

