
<% questions.forEach(function(question, index) { %>
    <li class="question <%= index > 1 ? 'collapsed' : '' %>">
        <a href="<%= question.url %>">
            What is the
            <span class="question-variable">
                <%= question.variable %>
            </span>
            of
            <span class="question-region-name">
                <%= question.regionName %>
            </span>
            ?
        </a>
    </li>
<% }); %>

<li a class="more-container" id="questions">
    <a class="more" id="questions">View more</a>
</li>

<script>
    $('a.more#questions').click(function() {
        var $container = $(this).parent();

        $container
            .parent()
            .children('li.question.collapsed')
            .removeClass('collapsed');

        $container
            .hide();
    });
</script>

