
<% questions.forEach(function(question, index) { %>
    <li class="question <%= index > 1 ? 'collapsible collapsed' : '' %>">
        <a href="<%= question.url %>">
            What is the <span class="question-variable"><%= question.variable %></span> of <span class="question-region-name"><%= question.regionName %></span>?
        </a>
    </li>
<% }); %>

<% if (questions.length > 2) { %>
    <li a class="more-container" id="questions">
        <a class="more" id="questions">show more</a>
    </li>
<% } %>

