
<% questions.forEach(function(question, index) { %>
    <li class="question <%= index > 1 ? 'collapsible collapsed' : '' %>">
        <a href="<%= question.url %>">
            What is the
            <span class="question-variable">
                <%= question.variable %>
            </span>
            of
            <span class="question-region-name">
                <%= question.regionName %>
            </span>
            ?
        </a>
    </li>
<% }); %>

<% if (questions.length > 2) { %>
    <li a class="more-container" id="questions">
        <a class="more" id="questions">show more questions</a>
    </li>

    <script>
        var expanded = false;

        $('a.more#questions').click(function() {
            var $this = $(this);
            var $container = $this.parent();
            var $list = $container.parent();

            if (!expanded) {
                $list
                    .children('li.question.collapsed')
                    .removeClass('collapsed');
            } else {
                $list
                    .children('li.question.collapsible')
                    .addClass('collapsed');
            }

            expanded = !expanded;

            $this
                .text(expanded ? 'show fewer questions' : 'show more questions');
        });
    </script>
<% } %>

