
<% questions.forEach((question, index) => { %>
    <li class="question <%= index > 1 ? 'collapsible collapsed' : '' %>">
        <a href="<%= navigate.to(question.entity).variable(question.variable_id).url() %>">
            What is the
            <span class="question-variable"><%= question.variable_name %></span>
            of
            <span class="question-region-name"><%= question.entity.name %></span>?
        </a>
    </li>
<% }); %>

<% if (questions.length > 2) { %>
    <li a class="more-container" id="questions">
        <a class="more" id="questions">show more</a>
    </li>
<% } %>

