<section class="search-results-regions-bar search-header-bar">
    <i class="fa fa-globe search-results-header-icon"></i>
    <label class="search-results-header-label">Regions for "<%= query %>"</label>
</section>
