<form method="GET" action="/search" class="search-bar-form" autocomplete="off">
    <a class="logo-small" href="/" title="Open Data Network"><div></div></a>
    <div class="search-buttons">
        <% include _quick-links %>
        <a class="fa fa-search search-link"></a>
    </div>
    <span>
        <input type="text" placeholder="Search Open Data Network" name="q" class="search-bar-input" value="<%= params.q %>" autocomplete="off">
        <% if (params.categories.length > 0) { %>
        <input type="hidden" name="categories" value="<%= params.categories.join(',') %>">
        <% } %>
        <% if (params.domains.length > 0) { %>
        <input type="hidden" name="domains" value="<%= params.domains.join(',') %>">
        <% } %>
        <% if (params.tags.length > 0) { %>
        <input type="hidden" name="tags" value="<%= params.tags.join(',') %>">
        <% } %>
    </span>
    <ul class="region-list" style="display:none"></ul>
</form>
