
<% if (typeof questions != 'undefined' && questions && questions.length > 0) {

    const question = questions[0];
    const rg = question.variable_id.split('.');
    rg.pop();

    const datasetId = rg.join('.');
%>

    <section id="search-results-questions-bar" class="search-results-regions-bar search-header-bar">
        <a id="search-results-questions-info-box-button" class="small-api-link">API</a>
        <i class="fa fa-question-circle search-results-header-icon"></i>
        <label class="search-results-header-label">Questions for "<%= params.q %>"</label>
    </section>

    <div id="search-results-questions-info-box" class="api-info-box">
        <a class="fa fa-close"></a>
        <strong>
            <a href="http://docs.odn.apiary.io/#reference/0/search-questions/get-questions" target="_blank">/search/v1/question</a>
        </strong>
        <dl>
            <dt>Example:</dt>
            <dd><a href="http://api.opendatanetwork.com/search/v1/question?entity_id=<%= question.entity.id %>&dataset_id=<%= datasetId %>&limit=10&offset=0&app_token=F8peHflRa0VP6f56bAXeL1WRc" target="_blank">Questions for <%= question.entity.name %></a></dd>
            <dt>API Docs:</dt>
            <dd>
            <a href="http://docs.odn.apiary.io/#reference/0/search-questions/get-questions" target="_blank">Get questions</a>
            </dd>
        </dl>
    </div>

    <div class="search-results" id="search-questions">
        <% include _question-list %>
    </div>
<% } %>

