
<div class="search-results-regular-column">

<% include search/refine/_search-refine-controls-mobile %>

<% if (entities.length > 0) { %>
    <% include _search-results-regions-bar %>
    <% include _search-results-regions %>
<% } %>

<% include _search-results-questions %>

<% include search/refine/_search-refine-controls %>

<% if (datasets.length > 0) { %>
    <% if (typeof currentCategory != 'undefined' && currentCategory && currentCategory.metadata && currentCategory.metadata.description) { %>
    <div class="current-category-info-box">
        <a class="fa fa-close"></a>
        <strong><%= currentCategory.category %></strong> - <%- currentCategory.metadata.description %>
    </div>
    <% } else if (typeof currentTag != 'undefined' && currentTag && currentTag.metadata && currentTag.metadata.description) { %>
    <div class="current-category-info-box">
        <a class="fa fa-close"></a>
        <strong><%= currentTag.tag %></strong> - <%- currentTag.metadata.description %>
    </div>
    <% } %>

    <ul class="search-results datasets">
        <% include _search-results-items %>
    </ul>
<% } %>
</div>

