<% searchResultsRegions.forEach(function(region) { %>
    <li>
        <i class="fa fa-globe"></i>
        <h2>
            <a href="/region/<%= region.id %>/<%= regionToUrlSegment(region.name) %>"><%= region.name %></a>
        </h2>
        <div class="regionType"><%= region.regionType %></div>
    </li>
<% }); %>