<header>
    <a class="logo" href="/" title="Open Data Network"></a>
    <a class="logo-small" href="/" title="Open Data Network"><img src="/images/v3-odn-o-logo.png"></a>
    <% include _search-bar-controls %>
</header>
