<form method="GET" action="/search" class="search-bar-form" autocomplete="off">
    <a class="logo-small" href="/" title="Open Data Network"><div></div></a>

    <span class='search-wrapper clearfix'>
        <input class="search-bar-input" aria-label= "Search Open Data Network"
               type="text" placeholder="Search Open Data Network"
               name="q"  value="<%= typeof params === 'undefined' ? '' : params.q %>" autocomplete="off" tabindex="0">

        <% if (typeof params !== 'undefined') { %>
            <% if (params.categories.length > 0) { %>
                <input type="hidden" name="categories" value="<%= params.categories.join(',') %>" tabindex="-1">
            <% } %>
            <% if (params.domains.length > 0) { %>
                <input type="hidden" name="domains" value="<%= params.domains.join(',') %>" tabindex="-1">
            <% } %>
            <% if (params.tags.length > 0) { %>
                <input type="hidden" name="tags" value="<%= params.tags.join(',') %>" tabindex="-1">
            <% } %>
        <% } %>

        <div class="search-buttons">
            <button type="submit" class="search-link" tabindex="0">
                <span class="fa fa-search" aria-hidden="true"></span>
                <span class="sr-only">Search</span>
            </button>
        </div>
    </span>
    <ul class="region-list" style="display:none"></ul>
</form>
