<section class="search-results-regions-bar search-header-bar">
    <em class="fa fa-globe search-results-header-icon"></em>
    <label class="search-results-header-label">Regions for "<%= query %>"</label>
</section>
