<section class="search-results-regions-bar">
    <i class="fa fa-globe search-results-header-icon"></i>
    <label class="search-results-header-label">Regions for "<%= params.q %>"</label>
</section>
