
<% if (questions.length) { %>
    <section id="search-results-questions-bar" class="search-results-regions-bar search-header-bar">
        <em class="fa fa-question-circle search-results-header-icon"></em>
        <label class="search-results-header-label">Questions for "<%= query %>"</label>
    </section>

    <div id="question-api-popup"></div>

    <div class="search-results" id="search-questions">
        <% questions.forEach((question, index) => { %>
            <li class="question <%= index > 1 ? 'collapsible collapsed' : '' %>">
                <a href="<%= navigate.to(question.entity).regionURL(question.vector, question.metric) %>">
                    <%= question.text %>
                </a>
            </li>
        <% }); %>

        <% include questions/_show-more %>
    </div>
<% } %>

