
<ul class="tokens">
<% params.regions.forEach(function(region) { %>
    <li class="region-token"><%= region.name %> <a class="fa fa-times-circle"></a></li>
<% }); %>
<% params.categories.forEach(function(category) { %>
    <li class="category-token"><%= category %> <a class="fa fa-times-circle"></a></li>
<% }); %>
<% params.domains.forEach(function(domain) { %>
    <li class="domain-token"><%= domain %> <a class="fa fa-times-circle"></a></li>
<% }); %>
<% params.tags.forEach(function(tag) { %>
    <li class="standard-token"><%= tag %> <a class="fa fa-times-circle"></a></li>
<% }); %>
</ul>

