<div class="search-results">
    <div class="search-results-regions">
        <div class="search-results-bots-only">
            <% searchResultsRegions.forEach(function(region) { %><a href="/region/<%= region.id %>/<%= regionToUrlSegment(region.name) %>"><%= region.name %></a>
            <% }); %>
        </div>
    </div>
</div>