
<ul class="tokens">
    <% categories.forEach(function(category) { %>
        <li class="category-token"><%= category %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    <% domains.forEach(function(domain) { %>
        <li class="domain-token"><%= domain %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
    <% tags.forEach(function(tag) { %>
        <li class="standard-token"><%= tag %> <a class="fa fa-times-circle"></a></li>
    <% }); %>
</ul>

