<% include header %>

<div class="content">
    <ul id="article-share">
        <li id="article-share-facebook"><a href=""></a></li>
        <li id="article-share-twitter"><a href=""></a></li>
        <li id="article-share-pinterest"><a href=""></a></li>
        <li id="article-share-google"><a href=""></a></li>
        <li id="article-share-add-this"><a href=""></a></li>
    </ul>
    <div class="content-inner">