<% include _header %>
<% include _search-bar %>

<section class="main-section" role="main">
    <% include _region-navigation %>
    <% include _region-charts %>
</section>

<% include _google-analytics %>

</body>
</html>
