<% include _header %>
<% include _search-bar %>

<script>

    // This data will be passed along to the client side scripts.
    const _data = <%- JSON.stringify({entities, variable, constraints}) %>;

</script>

<section class="main-section" role="main">
    <% include _region-navigation %>
    <% include _region-charts %>
</section>

<% include _google-analytics %>

</body>
</html>
