<% include _header %>
<% include _search-bar %>

<script>

    // This data will be passed along to the client side scripts.
    const _data = <%- JSON.stringify({entities, variable, constraints, chartConfig, fixedConstraints, dataset}) %>;

</script>

<section class="main-section" role="main">
    <% include _region-navigation %>

    <div class="charts-column">
        <% include _menus %>
        <% include _map %>
        <div class="charts-container">
            <% include _charts %>
            <% include _citation %>

            <div id="map-container-mobile"></div>
        </div>

        <% include _search-datasets %>
    </div>
</section>

<% include _google-analytics %>
<% include _usersnap %>

</body>
</html>
