<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <title>OpenData Network</title>
    <script src="/jquery/jquery.min.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400,600,700" rel="stylesheet" type="text/css">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link href="/styles/app.css" rel="stylesheet" type="text/css">
    <link href="/styles/<%= css %>" rel="stylesheet" type="text/css">
</head>
<body>
<header>
    <div>
        <a href="/" class="logo"></a>
        <a href="/explore" class="explore">Explore the Data</a>
    </div>
</header>