<% include _header %>
<% include _home-bar %>
<% include _home-hero %>
<section class="home-page">
  <div role="main">
    <% include _home-questions %>
    <% include _home-categories %>
    <% include _home-regions %>
    <% include _home-partners %>
    <% include _home-hero-mobile %>
  </div>

  <% include _footer %>
</section>
