<% include document-header %>
<div id="container">
<% include bar-header %>

    <div class="content">

        <h1>Be Part of the Open Data Network</h1>

        <img id="odn-logo" src="/images/join-open-data-network.png" alt="Open Data Network">

        <p id="p1">The Open Data Network is aims to unleash the power of data to improve the world around us. This worldview imagines an interconnected world where data flows freely between the people and machines that need it to better manage public and commercial enterprises, as well as private and personal endeavors. As a dynamic marketplace of public-domain data automatically federated from some of the most data-rich organizations, the Open Data Network greatly expands access to the world’s information and lights the way to the civic, business, social, and scientific discoveries that will shape the future.</p>

        <p id="p2">The Open Data Network Community not only links members to high-value public information, but also provides a community platform to network participating organizations with one another, engage in discussion, and contribute to the cause of making data more accessible and usable.  Comprising a vast ecosystem of government data repositories, APIs, apps, consumer Internet services, and data-fueled business innovations—together with intuitive tools to contextualize, visualize, and share data—the Open Data Network is much more than a vibrant data marketplace; it is an essential online destination for open data best practices, benchmarking, civic app development, data-driven story-telling, and research across a variety of disciplines.</p>

        <h2>Be part of the Open Data Network where benefits include the following:</h2>
        <ul>
            <li>First access to data products made available through the Open Data Network</li>
            <li>Be part of a global movement aimed to improve data and information availability, accessibility and usability that supports decision making for citizens, businesses and government</li>
            <li>Help define priorities, key issues and opportunities for the Open Data Network</li>
            <li>Access and support development of good practices, protocols and standards for open data</li>
            <li>Marketing opportunities including press releases, member profiles, events, media content, application showcases.</li>
            <li>Participate in industry focus groups</li>
            <li>Access tools, connectors, and developer resources</li>
        </ul>

    </div>

<% include bar-footer %>
</div>
<% include document-footer %>