<% include _document-header %>
<div id="container">
<% include _bar-header %>

<div class="content" role="main">

    <h1>Thanks for Joining the Open Data Network</h1>
    <p id="thank-you-description">Feel free to check out the Open Data Network <a href="/explore-open-data">Explore</a> page.</p>

</div>

</div> <!-- id="container" -->
<% include _bar-footer %>
<% include _document-footer %>