<% include _document-header %>
<div id="container">
<% include _bar-header %>

<div class="content" role="main">

    <h1>Be Part of the Open Data Network</h1>

    <img id="odn-logo" src="/images/join-open-data-network-2.png" alt="Open Data Network">

    <p id="p1">The Open Data Network is aims to unleash the power of data to improve the world around us. This worldview imagines an interconnected world where data flows freely between the people and machines that need it to better manage public and commercial enterprises, as well as private and personal endeavors. As a dynamic marketplace of public-domain data automatically federated from some of the most data-rich organizations, the Open Data Network greatly expands access to the world’s information and lights the way to the civic, business, social, and scientific discoveries that will shape the future.</p>

    <p id="p2">The Open Data Network Community not only links members to high-value public information, but also provides a community platform to network participating organizations with one another, engage in discussion, and contribute to the cause of making data more accessible and usable.  Comprising a vast ecosystem of government data repositories, APIs, apps, consumer Internet services, and data-fueled business innovations—together with intuitive tools to contextualize, visualize, and share data—the Open Data Network is much more than a vibrant data marketplace; it is an essential online destination for open data best practices, benchmarking, civic app development, data-driven story-telling, and research across a variety of disciplines.</p>

    <h2>Be part of the Open Data Network where benefits include the following:</h2>
    <ul>
        <li>First access to data products made available through the Open Data Network</li>
        <li>Be part of a global movement aimed to improve data and information availability, accessibility and usability that supports decision making for citizens, businesses and government</li>
        <li>Help define priorities, key issues and opportunities for the Open Data Network</li>
        <li>Access and support development of good practices, protocols and standards for open data</li>
        <li>Marketing opportunities including press releases, member profiles, events, media content, application showcases.</li>
        <li>Participate in industry focus groups</li>
        <li>Access tools, connectors, and developer resources</li>
    </ul>

    <h2>Join the Open Data Network</h2>
    <div class="content-form-container">            
        <div class="content-form">
            <script src="/lib/third-party/forms2.min.js"></script>
            <form class="mktoForm" id="mktoForm_1868">
            </form>
            <script>
              (function (){
                var formDescriptor = {"Id":1868,"Vid":1868,"Status":"approved","Name":"ODN Contact Form.Form 2.0","Description":"","Layout":"left","GutterWidth":10,"OffsetWidth":10,"HasTwoButtons":true,"SubmitLabel":"Submit","ResetLabel":"Clear","ButtonLocation":"120","LabelWidth":100,"FieldWidth":150,"ToolTipType":"none","FontFamily":"Helvetica, Arial, sans-serif","FontSize":"13px","FontColor":"#333","FontUrl":null,"LineMargin":10,"ProcessorVersion":2,"CreatedByUserid":3995,"ProcessOptions":{"language":"English","locale":"en_US","profiling":{"isEnabled":true,"numberOfProfilingFields":6,"alwaysShowFields":[]},"socialSignOn":{"isEnabled":false,"enabledNetworks":[],"cfId":null,"codeSnippet":null},"knownLead":{"type":"form","template":"<p><br><\/p>\n<p style=\"font-weight:bold; font-size:1.1em;line-height:1.5em;\" _mce_style=\"font-weight: bold; font-size: 1.1em; line-height: 1.5em;\">Thank you for subscribing, {[(lead.FirstName)]} {[(lead.LastName)]}.<\/p><p style=\"font-weight:bold; font-size:1.1em;line-height:1.5em;\" _mce_style=\"font-weight: bold; font-size: 1.1em; line-height: 1.5em;\"><br><\/p>\n<p style=\"font-weight:bold; font-size:1.1em;line-height:1.5em;\" _mce_style=\"font-weight: bold; font-size: 1.1em; line-height: 1.5em;\">We appreciate your interest in <i>Open Innovation.<\/i><\/p><p style=\"font-weight:bold; font-size:1.1em;line-height:1.5em;\" _mce_style=\"font-weight: bold; font-size: 1.1em; line-height: 1.5em;\"><i><br><\/i><\/p>\n<p style=\"font-size:1.1em;line-height:1.5em;text-align:center;\" _mce_style=\"font-weight: bold; font-size: 1.1em; line-height: 1.5em; text-align: center;\">{[(form.NotYou:default=Is this not you?)]}<\/p>"}},"EnableDeferredMode":0,"ButtonType":null,"ButtonImageUrl":null,"ButtonText":null,"ButtonSubmissionText":"Please Wait","ButtonStyle":{"id":13,"className":"mktoRound","css":".mktoForm .mktoButtonWrap.mktoRound .mktoButton {\ncolor:#fff;\nborder:1px solid #a3bee2;\n-webkit-border-radius:5px;\n-moz-border-radius:5px;\nborder-radius:5px;\nbackground-color:#779dd5;\nbackground-image: -webkit-gradient(linear, left top, left bottom, from(#779dd5), to(#5186cb));\nbackground-image: -webkit-linear-gradient(top, #779dd5, #5186cb);\nbackground-image: -moz-linear-gradient(top, #779dd5, #5186cb);\nbackground-image: linear-gradient(to bottom, #779dd5, #5186cb);\npadding:0.4em 1em;\nfont-size:1em;\n}\n.mktoForm .mktoButtonWrap.mktoRound .mktoButton:hover {\nborder:1px solid #45638c;\n}\n.mktoForm .mktoButtonWrap.mktoRound .mktoButton:focus {\noutline:none;\nborder:1px solid #45638c;\n}\n.mktoForm .mktoButtonWrap.mktoRound .mktoButton:active{\nbackground-color:#5186cb;\nbackground-image: -webkit-gradient(linear, left top, left bottom, from(#5186cb), to(#779dd5));\nbackground-image: -webkit-linear-gradient(top, #5186cb, #779dd5);\nbackground-image: -moz-linear-gradient(top, #5186cb, #779dd5);\nbackground-image: linear-gradient(to bottom, #5186cb, #779dd5);\n}\n","buttonColor":null},"ThemeStyle":{"id":6,"displayOrder":4,"name":"Round","backgroundColor":"#FFF","layout":"left","fontFamily":"Helvetica, Arial, sans-serif","fontSize":"13px","fontColor":"#333","offsetWidth":10,"gutterWidth":10,"labelWidth":100,"fieldWidth":150,"lineMargin":10,"useBackgroundColorOnPreview":false,"css":"","href":"css\/forms2-theme-round.css","buttonStyleId":13},"ThemeStyleOverride":"form[style] {font-family: 'Open Sans', sans-serif !important;}\nform[style], label[style], input.mktoTextField[style],\ninput.mktoEmailField[style], input.mktoTelField[style], textarea[style],\nlabel.mktoLabel, .mktoCheckboxList, .mktoFieldWrap, .mktoFieldDescriptor, select {width:100% !important;\n-webkit-box-sizing: border-box !important;\n-moz-box-sizing:border-box !important;\nbox-sizing:border-box !important;}\n.mktoCheckboxList input {width: auto !important;}\n.mktoForm .mktoOffset, .mktoForm .mktoGutter {height:0 !important;}\n.mktoForm .mktoLabel {padding:0 0 5px 0 !important}\n.mktoFormRow {margin-bottom:8px !important;}\nlabel {font-weight:bold !important;}\n.mktoCheckboxList label {font-weight:normal !important;}\nspan.mktoButtonWrap[style] {margin:0 !important;}\n.mktoButton {height: 45px !important; \nbackground: #3366cc; \nborder-radius: 3px; \n-webkit-border-radius: 3px; \n-moz-border-radius: 3px; \nborder: none; \ncursor: pointer; \ncolor: #fff; \nfont-size: 16px; \npadding-left: 20px !important; \npadding-right: 20px !important;}","FormFollowup":"/join/complete","rows":[[{"Id":25244,"Name":"FirstName","IsRequired":true,"Datatype":"string","Maxlength":255,"InputLabel":"First Name:","InputInitialValue":"","InputSourceChannel":"constant","ProfilingFieldNumber":0,"ValidationMessage":"This field is required."}],[{"Id":25234,"Name":"LastName","IsRequired":true,"Datatype":"string","Maxlength":255,"InputLabel":"Last Name:","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":4,"ValidationMessage":"This field is required."}],[{"Id":25233,"Name":"Email","IsRequired":true,"Datatype":"email","Maxlength":255,"InputLabel":"Email Address:","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":4,"ValidationMessage":"Must be valid email. <span class='mktoErrorDetail'>example@yourdomain.com<\/span>"}],[{"Id":25235,"Name":"Company","Description":"","IsRequired":true,"Datatype":"string","Maxlength":255,"InputLabel":"Company Name:","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":4,"ProfilingFieldNumber":0,"ValidationMessage":"This field is required."}],[{"Id":25236,"Name":"Title","IsRequired":true,"Datatype":"string","Maxlength":255,"InputLabel":"Job Title:","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":4,"ProfilingFieldNumber":0,"ValidationMessage":"This field is required."}],[{"Id":25247,"Name":"Phone","IsRequired":true,"Datatype":"phone","Maxlength":255,"InputLabel":"Phone Number:","InputInitialValue":"","InputSourceChannel":"constant","ProfilingFieldNumber":0,"ValidationMessage":"Must be a phone number. <span class='mktoErrorDetail'>503-555-1212<\/span>"}],[{"Id":25243,"Name":"Opt_in_Checkbox__c","Datatype":"checkbox","PicklistValues":[{"label":"Please send me occasional email updates and resources regarding open data.","value":"Yes","selected":false,"isDefault":false}],"InputLabel":"","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":4,"ProfilingFieldNumber":0,"ValidationMessage":"This field is required."}],[{"Id":25242,"Name":"UTM_Term__c","Datatype":"hidden","Maxlength":255,"InputInitialValue":"","InputSourceChannel":"url","InputSourceSelector":"utm_term","VisibleRows":4,"ProfilingFieldNumber":0}],[{"Id":25241,"Name":"UTM_Source__c","Datatype":"hidden","Maxlength":255,"InputInitialValue":"","InputSourceChannel":"url","InputSourceSelector":"utm_source","VisibleRows":4,"ProfilingFieldNumber":0}],[{"Id":25240,"Name":"UTM_Medium__c","Datatype":"hidden","Maxlength":255,"InputInitialValue":"","InputSourceChannel":"url","InputSourceSelector":"utm_medium","VisibleRows":4,"ProfilingFieldNumber":0}],[{"Id":25239,"Name":"UTM_Content__c","Datatype":"hidden","Maxlength":255,"InputInitialValue":"","InputSourceChannel":"url","InputSourceSelector":"utm_content","VisibleRows":4,"ProfilingFieldNumber":0}],[{"Id":25238,"Name":"UTM_Campaign__c","Description":"","Datatype":"hidden","Maxlength":255,"InputLabel":"","InputInitialValue":"","InputSourceChannel":"url","InputSourceSelector":"utm_campaign","VisibleRows":4,"ProfilingFieldNumber":0,"PlaceholderText":""}],[{"Id":25245,"Name":"Latest_Prospect_s_Comments__c","Datatype":"textarea","Maxlength":32768,"InputLabel":"Why are you interested in joing the Open Data Network?","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":5,"ProfilingFieldNumber":0,"ValidationMessage":"This field is required.","DisablePrefill":true}],[{"Id":25246,"Name":"SPAM_Blocker__c","Datatype":"hidden","Maxlength":255,"InputLabel":"SPAM Blocker:","InputInitialValue":"","InputSourceChannel":"constant","VisibleRows":2,"ProfilingFieldNumber":0}],[{"Id":25248,"Name":"Agreed_to_ODN_Terms__c","IsRequired":true,"Datatype":"checkbox","PicklistValues":[{"label":"I have read the vision of the Open Data Network and want to join as a member","value":"yes"}],"InputLabel":"","InputInitialValue":"","InputSourceChannel":"constant","ProfilingFieldNumber":0,"ValidationMessage":"This field is required."}],[{"Id":25237,"Name":"Profiling","Datatype":"profiling","InputInitialValue":"","ProfilingFieldNumber":0,"IsLabelToLeft":true}]],"fieldsetRows":[],"action":"http:\/\/discover.socrata.com\/index.php\/leadCapture\/save","munchkinId":"851-SII-641"};
                MktoForms2.setOptions({baseUrl:"/js/forms2/"});
                var isDev = false;
                if(isDev && window.console && window.JSON){
                  console.log(JSON.stringify(formDescriptor, null, "  "));
                }
                var form = MktoForms2.newForm(formDescriptor, function (form){
                  var lpFields = {"lpId":4383,"subId":147,"munchkinId":"851-SII-641","lpurl":"http:\/\/discover.socrata.com\/odn-census-form.html?cr={creative}&kw={keyword}"};
                  var pageFields = MktoForms2.getPageFields();
                  form.addHiddenFields(lpFields);
                  form.addHiddenFields(pageFields);
                  if(window.mktoPreFillFields){
                    form.setValuesCoerced(mktoPreFillFields);
                  }
                  if(!form.EnableDeferredMode){
                    form.render();
                  }
                });     
              })()
            </script>

            <noscript>
              <form class='mktoForm mktoNoJS' action='http://discover.socrata.com/index.php/leadCapture/save' method='post'>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='FirstName'>
                          First Name:            </label>
                        <input type="text" class='mktoField mktoTextField' name='FirstName' id='FirstName'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='LastName'>
                          Last Name:            </label>
                        <input type="text" class='mktoField mktoTextField' name='LastName' id='LastName'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Email'>
                          Email Address:            </label>
                        <input type="text" class='mktoField mktoTextField' name='Email' id='Email'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Company'>
                          Company Name:            </label>
                        <input type="text" class='mktoField mktoTextField' name='Company' id='Company'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Title'>
                          Job Title:            </label>
                        <input type="text" class='mktoField mktoTextField' name='Title' id='Title'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Phone'>
                          Phone Number:            </label>
                        <input type="text" class='mktoField mktoTextField' name='Phone' id='Phone'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Opt_in_Checkbox__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='Opt_in_Checkbox__c' id='Opt_in_Checkbox__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='UTM_Term__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='UTM_Term__c' id='UTM_Term__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='UTM_Source__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='UTM_Source__c' id='UTM_Source__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='UTM_Medium__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='UTM_Medium__c' id='UTM_Medium__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='UTM_Content__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='UTM_Content__c' id='UTM_Content__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='UTM_Campaign__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='UTM_Campaign__c' id='UTM_Campaign__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Latest_Prospect_s_Comments__c'>
                          Why are you interested in joing the Open Data Network?            </label>
                        <input type="text" class='mktoField mktoTextField' name='Latest_Prospect_s_Comments__c' id='Latest_Prospect_s_Comments__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='SPAM_Blocker__c'>
                          SPAM Blocker:            </label>
                        <input type="text" class='mktoField mktoTextField' name='SPAM_Blocker__c' id='SPAM_Blocker__c'>
                      </div>
                    </div>
                    <div class='mktoFormRow'>
                      <div class='mktoFormCol'>
                        <label class="mktoLabel" for='Agreed_to_ODN_Terms__c'>
                                      </label>
                        <input type="text" class='mktoField mktoTextField' name='Agreed_to_ODN_Terms__c' id='Agreed_to_ODN_Terms__c'>
                      </div>
                    </div>
                <span style="display:none;"><input type="text" name="_marketo_comments" value=""></span>
                <span class='mktoButtonWrap'><button type='submit' class='mktoButton'>Submit</button></span>
                <input type="hidden" name="lpId" value="4383" />
                <input type="hidden" name="subId" value="147" />
                <input type="hidden" name="lpurl" value="http://discover.socrata.com/odn-census-form.html?cr={creative}&kw={keyword}" />
                <input type="hidden" name="formid" value="1868" />
                <input type="hidden" name="ret" value="/join/complete" />
                <input type="hidden" name="munchkinId" value="851-SII-641"/>
                <input type="hidden" name="kw" value=""/>
                <input type="hidden" name="cr" value=""/>
                <input type="hidden" name="searchstr" value=""/>
                <input type="hidden" name="_mkt_disp" value="return"/>
                <input type="hidden" name="_mkt_trk" value=""/>
              </form>  
            </noscript>            




        </div>
    </div>
</div>

<% include _bar-footer %>
</div>
<% include _document-footer %>
