<% include _header %>
<% include _search-bar %>

<script>

    // This data will be passed along to the client side scripts.
    var _data = <%- JSON.stringify({entities, query, categories, domains, tags, ceteraURL}) %>;

</script>

<section class="main-section" role="main">
    <% include _search-results %>
</section>

<% include _footer %>
