<% include _header %>
<% include _search-bar %>

<script>
var _params = <%- JSON.stringify(params) %>;
var _query = <%- JSON.stringify(query) %>;
var _searchResultsRegions = <%- (typeof searchResultsRegions === 'undefined') ? '[]' : JSON.stringify(searchResultsRegions) %>;
var _searchURL = "<%- searchDatasetsURL %>";
</script>

<section class="main-section">
    <% if (hasRegions) { %>
        <% include _region-navigation %>
        <% include _region-charts %>
    <% } else { %>
        <% include _search-results %>
    <% } %>
</section>

<% include _google-analytics %>
<% include _usersnap %>

</body>
</html>
<%
function regionToUrlSegment(name) {
    return name.replace(/ /g, '_').replace(/\//g, '_').replace(/,/g, '');
}
%>
