<% include _header %>
<% include _search-bar %>

<section class="main-section" role="main">
    <% include _search-results %>
</section>

<% include _google-analytics %>
<% include _usersnap %>

</body>
</html>
