<header>
    <a class="logo" href="/v2" title="Open Data Network"></a>
    <div class="menus">
        <a href="">Communities (coming soon)<i class="fa fa-caret-down"></i></a>
        <i class="fa fa-search"></i>
    </div>
</header>