<% include v2-header %>
<% include v2-header-bar -%>

<section class="hero">
    <div class="container">
        <h1>Find the data you need to power your business, app, or analysis<br>from across the open data ecosystem.</h1>

        <% include v2-search-textbox %>

        <button class="browse-button">Browse Categories</button>
        <div class="cb"></div>
    </div>
</section>
<section class="orange">
    <div class="container">
        <h2>Open Data Network</h2>
        <p>The Open Data Network connects publishers of high-value data to the businesses, developers, and analysts that use, reuse, and enrich data.  The members of the network work together to share best practices, adopt standards, and advocate for open data broadly.</p>
    </div>
</section>
<section class="gray">
    <div class="container">
        <ul>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Health"><i class="fa fa-heart"></i></a>
                <a href="/v2-search?q=&amp;categories=Health"><h3>Health</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Transportation"><i class="fa fa-car"></i></a>
                <a href="/v2-search?q=&amp;categories=Transportation"><h3>Transportation</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Finance"><i class="fa fa-money"></i></a>
                <a href="/v2-search?q=&amp;categories=Finance"><h3>Finance</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Social%20Services"><i class="fa fa-child"></i></a>
                <a href="/v2-search?q=&amp;categories=Social%20Services"><h3>Social Services</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Environment"><i class="fa fa-leaf"></i></a>
                <a href="/v2-search?q=&amp;categories=Environment"><h3>Environment</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Public+Safety"><i class="fa fa-shield"></i></a>
                <a href="/v2-search?q=&amp;categories=Public+Safety"><h3>Public Safety</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Housing%20%26%20Development"><i class="fa fa-building"></i></a>
                <a href="/v2-search?q=&amp;categories=Housing%20%26%20Development"><h3>Housing &amp; Development</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Infrastructure"><i class="fa fa-road"></i></a>
                <a href="/v2-search?q=&amp;categories=Infrastructure"><h3>Infrastructure</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Education"><i class="fa fa-graduation-cap"></i></a>
                <a href="/v2-search?q=&amp;categories=Education"><h3>Education</h3></a>
            </li>
            <li>
                <a class="icon" href="/v2-search?q=&amp;categories=Recreation"><i class="fa fa-ticket"></i></a>
                <a href="/v2-search?q=&amp;categories=Recreation"><h3>Recreation</h3></a>
            </li>
        </ul>
        <div class="cb"></div>
    </div>
</section>
<section class="partners">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><img src="/images/v2-zillow.png"></div>
            <div><img src="/images/v2-building-eye.png"></div>
            <div><img src="/images/v2-civic-insight.png"></div>
            <div><img src="/images/v2-basic-gov.png"></div>
            <div><img src="/images/v2-build-fax.png"></div>            
            <div><img src="/images/v2-realty-trac.png"></div>
            <div><img src="/images/v2-site-compli.png"></div>
            <div><img src="/images/v2-ontodia.png"></div>
            <div><img src="/images/v2-accela.png"></div>
            <div><img src="/images/v2-citiesense.png"></div>
            <div><img src="/images/v2-drive.png"></div>
            <div><img src="/images/v2-see-click-fix.png"></div>
        </div>
        <a href="/join">Join the Network</a>
    </div>
</section>

<% include v2-footer %>
