<% include v2-header %>

<link href="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.css" rel="stylesheet" type="text/css" />
<script src="//cdn.jsdelivr.net/jquery.slick/1.5.0/slick.min.js" type="text/javascript"></script>
<script src="/scripts/v2-home.min.js" type="text/javascript"></script>

<section class="hero">
    <% include v2-header-bar %>

    <div class="container">
        <h1>Introducing the Open Data Network,<br>the new hub for the vibrant and growing open data ecosystem.</h1>

        <% include v2-search-textbox %>

        <a class="browse-link" href="">Browse Categories</a>
        <div class="cb"></div>
    </div>
</section>
<section class="orange">
    <div class="container">
        <h2>Open Data Network</h2>
        <p>Etiam porta sem malesuada magna mollis euismod. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec id elit non mi porta gravida at eget metus. Donec ullamcorper nulla non metus auctor fringilla. Sed posuere consectetur est at lobortis. Aenean lacinia bibendum nulla sed consectetur.</p>
        <a href="">Read More</a>
    </div>
</section>
<section class="gray">
    <div class="container">
        <ul>
            <li>
                <a class="icon" href=""><i class="fa fa-heart"></i></a>
                <a href=""><h3>Health</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rlor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-car"></i></a>
                <a href=""><h3>Transportation</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-money"></i></a>
                <a href=""><h3>Finance</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-child"></i></a>
                <a href=""><h3>Social Services</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet ribus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-leaf"></i></a>
                <a href=""><h3>Environment</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-shield"></i></a>
                <a href=""><h3>Public Safety</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet r auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-building"></i></a>
                <a href=""><h3>Housing &amp; Development</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-road"></i></a>
                <a href=""><h3>Infrastructure</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-graduation-cap"></i></a>
                <a href=""><h3>Education</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
            <li>
                <a class="icon" href=""><i class="fa fa-ticket"></i></a>
                <a href=""><h3>Recreation</h3></a>
                <p>Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor.  Aenean lacinia bibendum.</p>
            </li>
        </ul>
        <div class="cb"></div>
    </div>
</section>
<section class="partners">
    <div class="container">
        <h4>Partners on the Network</h4>
        <div class="slider">
            <div><img src="/images/v2-zillow.png"></div>
            <div><img src="/images/v2-building-eye.png"></div>
            <div><img src="/images/v2-civic-insight.png"></div>
            <div><img src="/images/v2-basic-gov.png"></div>
            <div><img src="/images/v2-build-fax.png"></div>            
            <div><img src="/images/v2-realty-trac.png"></div>
            <div><img src="/images/v2-site-compli.png"></div>
            <div><img src="/images/v2-ontodia.png"></div>
            <div><img src="/images/v2-accela.png"></div>
            <div><img src="/images/v2-citiesense.png"></div>
            <div><img src="/images/v2-drive.png"></div>
            <div><img src="/images/v2-see-click-fix.png"></div>
        </div>
        <a href="/join">Join the Network</a>
    </div>
</section>

<% include v2-footer %>














