<header>
    <a class="logo" href="/" title="Open Data Network"></a>
    <div class="menus">
        <div id="menu-item-communities">
            <a class="menu-item-link">Communities<i class="fa fa-caret-down"></i></a>
            <ul id="menu-communities" class="menu">
                <li><a href="">Housing <span>(Coming Soon)</span></a></li>
                <li><a href="">Civic Services <span>(Coming Soon)</span></a></li>
                <li><a href="">Financial <span>(Coming Soon)</span></a></li>
            </ul>
        </div>
        <i class="fa fa-search"></i>
    </div>
</header>
