
<div class="search-text">
    <div class="search-text-white">
        <form method="GET" action="/v2-search" id="form" autocomplete="off">
            <input type="text" placeholder="Search the Open Data Network" name="q" id="q" value="<%= q || '' %>">
            <a class="fa fa-caret-down" href=""></a>
        </form>
    </div><a class="search-link">Search</a>
</div>
