<% include v3-header %>

<section class="blue">
    <div class="container">
        <h1>Open Data Network</h1>
        <p>
            The Open Data Network connects publishers of high-value data to the businesses,<br>
            developers, and analysts that use, reuse, and enrich data.  The members of the network work<br>
            together to share best practices, adopt standards, and advocate for open data broadly.
        </p>
        <a class="fa fa-play-circle-o"></a>
    </div>
</section>

<section class="gray">
    <div class="container">
        <h4>Data Categories</h4>
        <ul>
          <% categories.forEach(function(category) { %> 
            <li>
                <a class="icon" href="/v3-search?categories=<%= encodeURIComponent(category.title.toLowerCase()) %>"><i class="fa <%= category.icon %>"></i></a>
                <a href="/v3-search?categories=<%= encodeURIComponent(category.title.toLowerCase()) %>"><h3><%= category.title %></h3></a>
            </li>
          <% }); %>
        </ul>
        <div class="cb"></div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><img src="/images/v2-zillow.png"></div>
            <div><img src="/images/v2-building-eye.png"></div>
            <div><img src="/images/v2-civic-insight.png"></div>
            <div><img src="/images/v2-basic-gov.png"></div>
            <div><img src="/images/v2-build-fax.png"></div>            
            <div><img src="/images/v2-realty-trac.png"></div>
            <div><img src="/images/v2-site-compli.png"></div>
            <div><img src="/images/v2-ontodia.png"></div>
            <div><img src="/images/v2-accela.png"></div>
            <div><img src="/images/v2-citiesense.png"></div>
            <div><img src="/images/v2-drive.png"></div>
            <div><img src="/images/v2-see-click-fix.png"></div>
        </div>
        <a href="/join">Join the Network</a>
    </div>
</section>

<% include v3-footer %>