<% include v3-header %>

<section class="blue">
    <div class="container">
        <h1>Open Data Network</h1>
        <p>
            The Open Data Network connects publishers of high-value data to the businesses,<br>
            developers, and analysts that use, reuse, and enrich data.  The members of the network work<br>
            together to share best practices, adopt standards, and advocate for open data broadly.
        </p>
        <a class="fa fa-play-circle-o"></a>
    </div>
</section>

<section class="gray">
    <div class="container">
        <h4>Data Categories</h4>
        <ul>
            <li>
                <a class="icon" href="/v3-search?categories=Health"><i class="fa fa-heart"></i></a>
                <a href="/v3-search?categories=Health"><h3>Health</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Transportation"><i class="fa fa-car"></i></a>
                <a href="/v3-search?categories=Transportation"><h3>Transportation</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Finance"><i class="fa fa-money"></i></a>
                <a href="/v3-search?categories=Finance"><h3>Finance</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Social%20Services"><i class="fa fa-child"></i></a>
                <a href="/v3-search?categories=Social%20Services"><h3>Social Services</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Environment"><i class="fa fa-leaf"></i></a>
                <a href="/v3-search?categories=Environment"><h3>Environment</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Public+Safety"><i class="fa fa-shield"></i></a>
                <a href="/v3-search?categories=Public+Safety"><h3>Public Safety</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Housing%20%26%20Development"><i class="fa fa-building"></i></a>
                <a href="/v3-search?categories=Housing%20%26%20Development"><h3>Housing &amp; Development</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Infrastructure"><i class="fa fa-road"></i></a>
                <a href="/v3-search?categories=Infrastructure"><h3>Infrastructure</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Education"><i class="fa fa-graduation-cap"></i></a>
                <a href="/v3-search?categories=Education"><h3>Education</h3></a>
            </li>
            <li>
                <a class="icon" href="/v3-search?categories=Recreation"><i class="fa fa-ticket"></i></a>
                <a href="/v3-search?categories=Recreation"><h3>Recreation</h3></a>
            </li>
        </ul>
        <div class="cb"></div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><img src="/images/v2-zillow.png"></div>
            <div><img src="/images/v2-building-eye.png"></div>
            <div><img src="/images/v2-civic-insight.png"></div>
            <div><img src="/images/v2-basic-gov.png"></div>
            <div><img src="/images/v2-build-fax.png"></div>            
            <div><img src="/images/v2-realty-trac.png"></div>
            <div><img src="/images/v2-site-compli.png"></div>
            <div><img src="/images/v2-ontodia.png"></div>
            <div><img src="/images/v2-accela.png"></div>
            <div><img src="/images/v2-citiesense.png"></div>
            <div><img src="/images/v2-drive.png"></div>
            <div><img src="/images/v2-see-click-fix.png"></div>
        </div>
        <a href="/join">Join the Network</a>
    </div>
</section>

<% include v3-footer %>