<% include v4-header %>

<section class="blue">
    <div class="container">
        <h1>Open Data Network</h1>
        <p>
            The Open Data Network connects publishers of high-value data to the businesses,<br>
            developers, and analysts that use, reuse, and enrich data.  The members of the network work<br>
            together to share best practices, adopt standards, and advocate for open data broadly.
        </p>
        <a href="http://fast.wistia.net/embed/iframe/0jjxetu1ys?videoWidth=640&videoHeight=360&controlsVisibleOnLoad=true&autoPlay=true&popover=true"
class="wistia-popover[width=640,height=360,playerColor=#636155] fa fa-play-circle-o play-video-button"></a>
    </div>
</section>

<section class="gray">
    <div class="container">
        <h4>Data Categories</h4>
        <ul>
          <% allCategoryResults.results.forEach(function(result) { %> 
            <li>
                <a class="icon" href="/search?categories=<%= encodeURIComponent(result.category) %>"><i class="fa <%= result.metadata.icon %>"></i></a>
                <a href="/search?categories=<%= encodeURIComponent(result.category) %>"><h3><%= result.category %></h3></a>
            </li>
          <% }); %>
        </ul>
        <div class="cb"></div>
    </div>
</section>

<section class="partners">
    <div class="container">
        <h4>Partners</h4>
        <div class="slider">
            <div><img src="/images/v3-zillow.png"></div>
            <div><img src="/images/v3-building-eye.png"></div>
            <div><img src="/images/v3-civic-insight.png"></div>
            <div><img src="/images/v3-basic-gov.png"></div>
            <div><img src="/images/v3-build-fax.png"></div>            
            <div><img src="/images/v3-realty-trac.png"></div>
            <div><img src="/images/v3-site-compli.png"></div>
            <div><img src="/images/v3-ontodia.png"></div>
            <div><img src="/images/v3-accela.png"></div>
            <div><img src="/images/v3-citiesense.png"></div>
            <div><img src="/images/v3-drive.png"></div>
            <div><img src="/images/v3-see-click-fix.png"></div>
        </div>
        <a href="/join">Join the Network</a>
    </div>
</section>

<% include v4-footer %>