<% if (modal) { %>
    <% include ../modal-header %>
<% } else  { %>
    <% include ../article-header %>
<% } %>


<h1>Socrata and Yelp to Partner on Public Health</h1>
<h2>Yelp joins the Open Data Network to improve public data on restaurants</h2>

<p>Restaurant inspection scores are a highly visible example of data that fuels impactful decisions.  Thanks to Yelp, diners are increasingly learning of restaurant safety and health performance online instead of at business doorways.  But the majority of cities in the U.S. are not yet publishing their data in a format that can be consumed by Yelp.  Therefore, to improve public health, all customers of Socrata’s Open Data Portal&trade; are now eligible to receive free guidance and tools on how to connect their restaurant inspection data directly to Yelp.</p>

<p>Socrata, the global leader in open data solutions, currently supports over 150 governments to integrate open data within innovative products and services.  As part of a platform, the Open Data Network&trade;, launched earlier this year, members gain access to communities that are working everyday to make open data more useful by overcoming long-standing issues like a lack of interoperable technical standards.  With Yelp as a member of the Open Data Network&trade;, all governments can now benefit from their leadership in providing people with actionable information.</p>

<p>“We are very excited to launch this partnership with Yelp, the global leader in crowd sourced reviews for local businesses,” said Kevin Merritt, the CEO and founder of Socrata.  “With this behind-the-scenes data integration, millions of people will be able to benefit from better health information, which will ultimately improve people’s lives.”</p>

<p>The key tool that Socrata will use to guide governments on data integration with Yelp will be a data standard called <a href="http://www.yelp.com/healthscores">LIVES</a> (Local Inspector Value Entry Specification).  Pioneered by <a href="http://www.codeforamerica.org/our-work/data-formats/LIVES/">Code for America</a>, this data standard empowers software developers to make sense of the restaurant inspections that cities, counties and states perform everyday.  Such information is already being published on San Francisco’s open data portal, <a href="https://data.sfgov.org/Health-and-Social-Services/Restaurant-Scores/stya-26eb">DataSF</a>.  Translating government data on inspections is not always easy, which is why Socrata’s new offering is so valuable to governments that are seeking to extract greater value from their government data.</p>

<p>“We're thrilled to be working with Socrata and their network of partners to make this valuable information more accessible to the millions of people that turn to Yelp every month,” said Jeremy Stoppelman, CEO and co-founder of Yelp. “This was a joint effort as part of Yelp's Local Inspector Value Entry Specification (LIVES) open data standard, which enables local municipalities to accurately upload restaurant health inspection scores for display on Yelp business pages.”</p>

<p>Membership in the Open Data Network is free for all governments that are customers of Socrata.  Signing up is as simple as an authorized government representative filling out the <a href="/join-open-data-network">Open Data Network membership form</a>.  After completing the sign-up, the government’s account representative will follow up to schedule specific next steps.  New Open Data Portal&trade;  customers of Socrata can also have their LIVES data linked to the Open Data Network&trade; as a standard part of any site initiation.</p>

<p>Governments are increasingly looking for innovative companies to leverage their open data in order to help accomplish common goals.  With government inspection data being networked with Yelp, people can make better decisions on where to eat out.</p>


<% if (modal) { %>
    <% include ../modal-footer %>
<% } else  { %>
    <% include ../article-footer %>
<% } %>