<% if (modal) { %>
    <% include ../modal-header %>
<% } else  { %>
    <% include ../article-header %>
<% } %>


<h1>Open Data Network Expands to Civic Services Community</h1>

<p>A few short months ago, Socrata introduced the Open Data Network™, a system that streamlines access to sharable, comparable, interoperable, and measurable data. Among the first sector of strategic partners brought on board was leading real estate web marketplace, <a href="http://www.zillow.com/">Zillow</a>, with the goal of liberating housing data from governments and making it more accessible to citizens.  Today, Socrata announces a new set of partnerships that will focus on providing citizens with better access to civic services.  The inaugural partners in the Civic Services Community of the Open Data Network are <a href="http://www.everyblock.com/">EveryBlock</a> and <a href="http://seeclickfix.com/">SeeClickFix</a>.  These companies share a common goal of helping people to be more informed and involved with their neighborhoods.  With these new partnerships, the Open Data Network builds on previous  innovations in the housing community to build a more comprehensive data platform of what is actually happening in and around our buildings.</p>

<p>As a hyper-local entrepreneurial platform for microlocal information from Comcast NBCUniversal, EveryBlock combines, organizes, and syndicates public data, web feeds, and user-generated content by location. Users can post messages to neighbors, discover information and events in their neighborhood, place content on their own websites, and personalize their own homepage and daily email digest based on the communities most important to them. The combination of automated local feeds and manual user contributions,  easily allows users to have informed discussions with anyone invested in improving their community. Whether discussing simple tasks like neighborhood cleanup to investigating more complex issues like school safety, EveryBlock is useful to everyone from residents to city officials, nonprofit groups, and the media.</p>

<p>SeeClickFix is the world's largest citizen reporting network, helping millions of citizens in hundreds of cities to engage with local government and improve their communities. Citizens use SeeClickFix to report problems, such as potholes and light outages. These requests are then routed into the SeeClickFix request management platform—allowing city, county and state officials to manage, assign and report on these tasks. These award-winning tools help to increase engagement and transparency to create more efficient, accountability communities.</p>

<p>The participation of leaders like EveryBlock and SeeClickFix opens a world of new opportunities to help people interact more productively with local governments. Consider Chicago, a leading open data city where hyper-local information is available through <a href="http://chicago.everyblock.com/">chicago.everyblock.com</a>, <a href="http://seeclickfix.com/chicago">seeclickfix.com/chicago</a>, and officially through <a href="https://data.cityofchicago.org/">data.cityofchicago.org</a>.  Imagine the types of new housing related products and services that could be made available to potential buyers by combining information on pothole repair or graffiti removal with data on new home construction. Or conversely, how helpful  it would be to know if a city is slow to repair broken street lights in a neighborhood that also has a high rate of housing safety violations. These are the kind of insights that can be enabled by the latest sector launch within the Open Data Network.</p>

<p>As with the Open Data Network’s housing community, a data standard will be openly explored in the Civic Services Community to see if it is relevant to members.  Improved data standards could accelerate the rate of data discovery, use, or quality improvements. For the housing community, a civic data standard called <a href="http://www.housefacts.me">HouseFacts</a> was explored and is still being tested by members of the Open Data Network like <a href="http://www.appallicious.com/">Appalicious</a>, <a href="http://www.sitecompli.com/">SiteCompli</a> and <a href="http://civicinsight.com/">Civic Insight</a>. For the Civic Services Community, the <a href="http://www.open311.org/">Open311</a> data standard will be similarly tested for greater adoption.</p>

<p>Socrata recently made its own investment behind civic services data with the launch of Socrata Service Connect™. This app, inspired by the 311 non-emergency phone systems that exist in many U.S. cities, makes citizen services more transparent, accessible, and understandable for citizens and key stakeholders. The app unlocks service data with an intuitive and engaging interface. Additionally, it provides powerful administrative tools to help you gain valuable insights into service use.  SeeClickFix is also partnering with <a href="http://www.socrata.com/products/custom-web-and-mobile-apps-government-data/#ServiceConnect">Socrata Service Connect™</a> in this coordinated effort.</p>

<p>The Open Data Network continues to march through its venture to create a new internet of data interoperability. As each additional node joins this growing network, more and more opportunities are being opened for innovative businesses and ultimately for people that use information in their daily lives.</p>


<% if (modal) { %>
    <% include ../modal-footer %>
<% } else  { %>
    <% include ../article-footer %>
<% } %>