<% include ../article-header %>

<h1>Appallicious</h1>

<p>An inspiring story about how an "ordinary developer" had a friend die from a fall through a broken flight of stairs, the guy, Yo Yoshida, realized that the issue was known by different city agencies that failed to coordinate on the repair. Yo went on to build a series of civic apps to improve government services.  The company is also growing rapidly as it expands its services to additional cities worldwide.</p>

<% include ../article-footer %>