<% if (modal) { %>
    <% include ../modal-header %>
<% } else  { %>
    <% include ../article-header %>
<% } %>




<h1>Companies Using Housing Data</h1>

<p>Since open data is, well, "open", the publishers don't always know who is consuming the information resources.  There are several ongoing efforts to map the connections between data publishers and business data consumers.  Two of these projects are the "Open Data 500" out of New York University's GovLab and the wiki-style "Userbase" from Socrata.  Filtering down to just the housing and real estate examples, here are some open data stand-outs:</p>

<ul>
    <li>Building Eye</li>
    <li>Build Zoom</li>
    <li>Civic Insight</li>
    <li>Construction Monitor</li>
    <li>Core Logic</li>
    <li>Estately</li>
    <li>Honest Buildings</li>
    <li>kWhOURS</li>
    <li>Loop Net</li>
    <li>Opportunity Space</li>
    <li>Porch.com</li>
    <li>Realtor.com</li>
    <li>RedFin</li>
    <li>SiteCompli</li>
    <li>Street Easy</li>
    <li>Synthicity</li>
    <li>Trulia</li>
    <li>Zillow</li>
    <li>Zonability</li>
    <li>Zoner</li>
</ul>





<% if (modal) { %>
    <% include ../modal-footer %>
<% } else  { %>
    <% include ../article-footer %>
<% } %>