<% include ../article-header %>

<h1>Examples of Housing Visualizations</h1>

<p><a href="http://www.datawovn.com/#!San_Francisco_Private_Shuttles">Example #1</a>: Pulling information from San Francisco's DataSF portal, a former Palantir software engineer named Chris Walker was inspired by the press about the housing crisis in San Francisco to do a mash-up of the commuter Tech Buses, house price appreciation, and new business formation.</p>

<p><a href="http://chriswhong.com/open-data/gothamists-best-maps-of-2013-brought-to-you-by-open-data/">Example #2</a>: Chris Whong, an active civic hacker in New York City, dug deeper in to a ""Best Of..."" list of maps and discovered that most were actually powered by open data, including this one on when lower manhattan's buildings were built.</p>

<% include ../article-footer %>