<% include ../article-header %>

<h1>HouseFacts Standard Exists</h1>

<p>Code for America, Socrata, Trulia, Padmappe, Accela, the cities of San Francisco, Las Vegas, Bloomington, Kansas City, and others have developed the HouseFacts data standard to help organize, and remove friction from, the publication of housing data from cities across the country.  At www.HouseFacts.me you can learn more about the standard, find a full list of partners and participating cities, and join the HouseFacts Peer Network.</p>

<% include ../article-footer %>