<% include ../article-header %>

<h1>Instructions for How to Make Your Own Visualizations</h1>

<p>Don't just sit there.  Data by itself is useless.  Help to unlock some of the value of the information on this site by making your own visualization.  Here's a video to help you get started.  {link to https://opendata.socrata.com/videos/#bar-chart }</p>

<% include ../article-footer %>