<% include ../article-header %>

<h1>Join the Open Data Network</h1>

<p>Participation in the Open Data Network gives you access to a world of open data and participation in a vital community of innovators.</p>

<% include ../article-footer %>