<% include ../article-header %>

<h1>Join the Open Data Network</h1>

<p>The Open Data Network exists to connect the publishers, consumers, users, and reusers of open data together.  Members of the network, on all sides of the data pipeline, can distribute and access valuable data, to a world of apps and syndication points, simply.</p>

<% include ../article-footer %>