<% include ../article-header %>

<h1>Learn about Relevant Housing Standards</h1>

<p>The modern history of building permits, inspections and standards stems from reforms that followed the industrial revolution.  Weak buildings collapsed, killing people, and local residents demanded that actions be taken to prevent future occurences.  Over 100 years later, these attempts to improve safety have been codified in a complex set of laws and codes that are enforced by government agencies at various levels.  The scope of building codes has also grown beyond basic safety and health to include energy efficiency, disaster resilience, ergonomics, and many other improvements.  Yet, as every building owner knows, work is not always done "exactly to code.  This reality is becoming an increasingly large issue as the United States population becomes more urban and as cities struggle to accomodate growing populations.</p>

<p>Data has a critical role to play in the housing sector.  Families want to know if an apartment has asbestos before they move in with a new baby.  Renters want to know about local transit options so that they can calculate their morning commute.  Owners want transparency in to tax obligations and whether a new skyscraper is planned for construction across the street.  Data helps with all of these decisions and many more.  Data standards, or the uniform formats for exchange information, helps publishers of information get data in to the right hands at the right time.</p>

<p>Here is a short-list of housing data standards that are commonly used:</p>

<ul>
    <li><a href="http://mls.com">Mulitple Listing Service</a> (MLS) to find real estate for sale.</li>
    <li><a href="http://data.hud.gov/data_sets.html">The Federal Agency for Housing and Urban Development</a> (HUD) leads a number of related initiatives with a good roster of relevant data.  An example of a standard form is the HUD-1, which itemizes services and fees with lenders when buying a home.</li>
    <li>From a tax perspective, most property taxes are handled by cities and counties, but the <a href="http://www.irs.gov/Businesses/Small-Businesses-&-Self-Employed/Local-Standards-Housing-and-Utilities">Federal Internal Revenue Services</a> does have this list of local standards for housing.</li>
    <li>A newly developed civic standard that is receiving great accolades is <a href="www.housefacts.me">HouseFacts</a>.  With participation from a handful of U.S. cities, this data set contains information on the building use, safety and health and is being utilized within platforms like Trulia."</li>
</ul>

<% include ../article-footer %>