<% include ../article-header %>

<h1>Map of City Data on this Site</h1>

<p>OpenDataNetwork.com is being released in beta form here.  Only a subset of the 100+ portals that Socrata powers is represented <a href="https://odn.demo.socrata.com/browse?sortBy=relevance&utf8=%E2%9C%93&q=map">here</a>.  More specifically, here is the list of cities where we harvested data sets in to categories.  AUSTIN, TX.  BALTIMORE, MD. BELLEVILLE, IL. BOSTON, MA. BURLINGTON, VT. CHAMPAIGN, IL. CHICAGO, IL. DALLAS, TX. HONOLULU, HI. KANSAS CITY, MO. LOS ANGELES, CA. MADISON, WI. NEW ORLEANS, LA. New York, NY. NEWARK, NJ. OAKLAND, CA. PROVIDENCE, RI. RALEIGH, NC. REDMOND, WA. ROCKFORD, IL. SALT LAKE CITY, UT. SAN FRANCISCO, CA. SEATTLE, WA. SOMERVILLE, MA. SOUTH BEND, IN. WEATHERFORD, TX. WELLINGTON, FL.</p>

<% include ../article-footer %>