<% if (modal) { %>
    <% include ../modal-header %>
<% } else  { %>
    <% include ../article-header %>
<% } %>





<h1>Join the Socrata Open Data API Developer Community</h1>

<p>Find API documentation, register for an API token, explore libraries and SDKs, and learn to build apps with open data at the Socrata Open Data API (SODA) developer community site.</p>





<% if (modal) { %>
    <% include ../modal-footer %>
<% } else  { %>
    <% include ../article-footer %>
<% } %>