<% include ../article-header %>

<h1>Use Socrata DataSync to Keep Your Data Up-to-Date</h1>

<p>Socrata DataSync is a powerful and open source data ingress and sync utility that can be used to automate the scheduled or one-time transfer of large and frequently changed data.  DataSync chunks files for efficient transfer over the Internet and, with DataSync's SmartUpdate feature, only the delta of a large file is transferred.  Check out DataSync on GitHub.</p>

<% include ../article-footer %>