<% include ../article-header %>

<h1>Socrata Open Data API Developer Community</h1>

<p>The Socrata Open Data API developer community is a great place to find information and resources about the developers and businesses leveraging open data to power their apps.</p>

<% include ../article-footer %>