<% include ../article-header %>

<h1>Trulia</h1>

<p>Trulia, headquartered in San Francisco, started with a focus only on California then moved to locations across the country in less than a year.   The site gets tens of millions of visitors a month and is traded publicly on the New York Stock Exchange. It employs hundreds of designers, engineers, and business people, and has partnerships with companies like Yelp and real estate broker groups across the country.  Offering public data about crime, schools, and transit options was a novel concept for a real estate website, and Trulia presented it in a user-friendly way. Rather than sitting in spreadsheets, almost every bit of public data can be seen in an interactive map, such as bus lines, recent robberies, or the closest high school.  And, Trulia is committed to using machine-readable data that updates automatically, such as data found on open data portals, so that visitors can rely on the data they’re seeing to be the most up-to-date data available anywhere online.</p>

<p>Trulia is also a pioneer in leveraging civic data to improve the home buying experience.  For example, they are consuming "<a href="http://www.housefacts.me">House Facts</a>" data from San Francisco in order to liberate government-recorded violations on things like asbestos and rodents to help people make sure they are moving in to a safe and healthy home.</p>

</div>

<% include ../article-footer %>