<% if (modal) { %>
    <% include ../modal-header %>
<% } else  { %>
    <% include ../article-header %>
<% } %>





<h1>Zillow Uses Housing Data</h1>

<p>Zillow is an online real estate database with data on hundreds of millions of homes.&nbsp; Zillow leverages open data in a number of ways.&nbsp; For example, Zillow was recently <a href="http://www.whitehouse.gov/blog/2013/08/07/american-dream-aided-open-government-data">profiled by the White House</a> as an innovative firm that is transforming open data in to products and services that people use everyday.</p>

<blockquote>"For most Americans, buying a home is the largest purchase of their lives.&nbsp; That’s where a company like Zillow comes in -- helping families make informed decisions about buying a home and where to raise a family.&nbsp; Zillow is powered, in part, by open government data – including freely available data from the Bureau of Labor Statistics, Federal Housing Finance Agency, and the Census Bureau.&nbsp; Zillow uses these data sets to do things like help home buyers in a given region understand the point in years at which buying a home is more financially advantageous than renting the same home."</blockquote>





<% if (modal) { %>
    <% include ../modal-footer %>
<% } else  { %>
    <% include ../article-footer %>
<% } %>