<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Open Data Network</title>
    <style>
      body {
        font-family: 'proxima-nova';
        text-align: center;
      }
      h1 { margin-top: 5em }
    </style>
  </head>
  <body>
    <h1>Open Data Network  is temporarily unavailable for scheduled maintenance.</h1>
    <p>We'll be back soon. For updates and information, please visit <a href="//status.socrata.com">status.socrata.com</a></p>
  </body>
</html>