#autosuggest-menu
  background-color: white
  border: 1px solid $gray-border-color
  margin: 0
  padding: 0
  position: relative
  z-index: 100

  li
    border-top: 1px solid $gray-border-color
    position: relative

  li:first-of-type
    border-top: none

  .sub-list
    padding-left: 115px
    position: relative

  .sub-list li
    border-top-color: #eee
    cursor: pointer
    padding: 10px

  ul
    line-height: 20px
    margin: 0
    padding: 0

  li
    color: #7f8c8d
    list-style-type: none
    font-size: 14px

  div
    left: 0
    position: absolute
    text-align: center
    top: 30px
    width: 115px

  label
    color: #222
    display: block
    font-size: 14px
    left: 0;
    line-height: 22px;
    padding: 10px 0
    position: absolute
    text-align: center
    text-transform: uppercase
    width: 115px

  .fa
    color: #222
    font-size: 32px
    margin: 0 auto
