$black-text-color: #222222

header
    .logo
        @media (max-width: $mobile-width)
            margin-right: 0
            margin-left: 20px

    .fa-bars
        color: white
        float: right
        font-size: 32px
        line-height: 50px
        margin-right: 30px
        @media (min-width: $mobile-width)
            display: none

.home-search-bar
    @media (min-width: $mobile-width)
        display: none

    #search-bar-form
        padding-top: 50px

    .quick-links-container
        display: none

    