
.legend-container
    .tick-label, .tick-value
        font-size: $small
        fill: black

    .tick-line, .legend-box
        stroke: $primary-color

    .legend-box
        fill: none

.legend
    background-color: white

