
.legend-container
    position: relative
    bottom: 150px
    margin-bottom: -150px
    margin-left: -35px

    .legend
        .tick-label, .tick-value
            font-size: $small

        .tick-line, .legend-box
            stroke: $primary-color

        .legend-box
            fill: none

        .legend-name
            font-size: $medium
            font-weight: bold

