
.legend-container
    border: 1px solid $primary-color
    background-color: $background-color

    .tick-label, .tick-value
        font-size: $small
        fill: black

    .tick-line, .legend-box, .legend-element
        stroke: $primary-color

    .legend-box
        fill: none

.legend
    fill: $primary-color

