
#question-container
    .autocomplete-category
        padding: 0

        .autocomplete-options
            padding: 0
            margin: 0

            .autocomplete-option
                padding: 15px 30px
                color: #222

