
header
  border-bottom: 1px solid $dark-gray-border-color
  .logo
    @media (max-width: 640px)
      display: none
    @media (max-width: 1200px)
      width: 210px
  form
    width: 100%
  .fa-search
    background-color: $orange-color
    color: white
    cursor: pointer
    float: right
    font-size: 22px
    height: 60px
    line-height: 60px
    margin-right: 300px
    text-align: center
    width: 100px
    @media (max-width: 1200px)
      margin-right: 0
  span
    display: block
    overflow: hidden
  input[type="text"]
    border: 0
    border-radius: 0
    /* mobile safari
    box-sizing: border-box
    display: inline-block
    font-size: 16px
    line-height: 58px
    margin: 0
    outline: none
    padding-left: 30px
    width: 100%
