
.leaflet-popup-content-wrapper
    color: $background-color
    background-color: $primary-color
    pointer-events: none
    border-radius: 0
    box-shadow: none

.leaflet-popup-tip
    display: none

