
#tooltip, .tooltip, .leaflet-popup-content-wrapper
    color: $background-color
    background-color: $primary-color
    margin: 0
    white-space: nowrap
    box-shadow: none
    border-radius: 0

    .leaflet-popup-content
        margin: 0

    .name
        padding: 0.5em
        padding-bottom: 0em

        font-weight: bold

    .value
        padding: 0.5em
        padding-top: 0em

        .value-name::after
            content: ': '

.leaflet-popup-tip
    background-color: $primary-color
    box-shadow: none

