
.leaflet-popup-content-wrapper
    color: $background-color
    background-color: $primary-color
    pointer-events: none
    border-radius: 0
    box-shadow: none

.leaflet-popup-content
    padding: 0.5em
    margin: 0

    .name
        font-weight: bold
        display: block

.leaflet-popup-tip, .leaflet-popup-tip-container
    display: none

