/* Variables */

$row-color: #eee;
$black-color: #222;
$gray-color: #888;
$green-color: #0FBE4D;

/* Content area */

.content
{
    margin: 60px auto 0;
    min-height: 500px;
    padding: 20px 0 40px;
    text-align: center;
    width: 1280px;

    @media (max-width: 1280px) {
        width: 100%;
    }
}

.content a 
{
    color: $green-color;
}

.content td:first-child a
{
    color: $black-color;
}

.content table
{
    margin: 0 auto;
    text-align: left;
}

.content tr:nth-child(even) 
{
    background-color: $row-color;
}

.content td:first-child,
.content th:first-child
{
    text-align: left;
}

.content td 
{
    color: $gray-color;
}

.content td,
.content th
{    
    padding: 10px;
    text-align: center;
}

.content th
{
    color: $black-color;
}

.content smaller
{
    color: $gray-color;
    font-size: smaller;
}

.content .c 
{
    text-align: center;
}