$black-text-color: #222222
$blue-icon-color: #3498db
$category-item-width: 330px
$container-width: 990px
$dark-gray-text-color: #818588
$gray-background-color: #ecf0f1
$gray-text-color: #7f8c8d
$green-color: #27ae60
$orange-color: #e74c3c

@import app

/* Menus

header .menus
  float: right
  line-height: 60px
  margin-right: 15px
  height: 60px

header .menus .menu-item-link
  color: white
  display: inline-block
  padding-left: 15px
  padding-right: 15px

header .menus .selected .menu-item-link
  background-color: white
  color: $black-text-color

header .menus .selected .fa
  color: $gray-text-color

header .menus .fa-search
  color: white
  cursor: pointer

header .menus .fa-caret-down
  margin-left: 10px

.menu
  background-color: white
  display: none
  margin: 0
  min-width: 145px
  padding: 8px 16px
  position: absolute
  text-align: left
  z-index: 100

.menu li
  list-style-type: none
  margin: 0
  padding: 0

.menu li a
  color: $black-text-color
  display: block
  font-size: 14px
  min-height: 32px
  line-height: 32px
  text-transform: capitalize

.menu li a span
  color: $dark-gray-text-color

#menu-item-communities
  display: inline-block
  padding-right: 20px

/* Hero section

section.red
  background: url("/images/v3-hero-background.jpg") no-repeat center center
  background-size: cover
  display: table
  height: 100%
  position: relative
  width: 100%

section.red .container
  display: table-cell
  vertical-align: middle

section.red .fa
  color: white
  font-size: 60px

section.red h1
  color: white
  font-family: 'Lato', sans-serif
  font-size: 60px
  font-weight: 900
  margin: 0 0 20px
  padding: 0
  text-transform: uppercase

section.red p
  color: white
  font-family: 'Lato', sans-serif
  font-size: 24px
  font-weight: 300
  margin: 0 0 40px
  padding: 0
  text-shadow: 0px 0.5px $black-text-color

/* Gray section

section.gray
  background-color: $gray-background-color
  color: $gray-text-color

section.gray .container
  margin: 0 auto
  padding: 60px 0
  width: $container-width

section.gray h4
  color: $black-text-color
  font-size: 32px
  font-weight: 700
  margin: 0 0 60px
  text-transform: uppercase

section.gray ul
  float: left
  padding: 0
  margin: 0

section.gray li
  float: left
  list-style-type: none
  margin: 0
  min-height: 250px
  padding: 0
  width: $category-item-width

section.gray h3
  color: $blue-icon-color
  font-size: 24px
  font-weight: 300
  margin: 0 0 15px
  text-transform: capitalize

section.gray .fa
  color: $blue-icon-color
  display: block
  font-size: 40px
  height: 100%
  line-height: 130px
  width: 100%

section.gray .icon
  background-image: url("/images/v3-category-background.png")
  display: inline-block
  height: 130px
  margin-bottom: 25px
  width: 130px

.play-video-button
  color: white

/* Partners

section.partners
  background-color: white

section.partners .container
  margin: 0 auto
  padding: 60px 0
  width: $container-width

section.partners h4
  color: $black-text-color
  font-size: 32px
  font-weight: 700
  margin: 0
  text-transform: uppercase

section.partners .slider
  margin: 60px 0

section.partners a
  background-color: $green-color
  border-radius: 3px
  color: white
  display: inline-block
  font-size: 20px
  line-height: 50px
  margin: 0 auto
  padding-left: 30px
  padding-right: 30px
  vertical-align: middle

/* Search form

#form
  background-color: white
  display: block
  margin: 0 auto
  text-align: left
  width: 515px

#form span
  display: block
  overflow: hidden

#form input
  box-sizing: border-box
  display: inline-block
  font-size: 16px
  height: 50px
  line-height: 46px
  margin: 0
  padding: 0 20px
  width: 100%

#form .fa-search
  background-color: $black-text-color
  cursor: pointer
  float: right
  font-size: 18px
  line-height: 50px
  margin: 0
  padding: 0
  text-align: center
  width: 80px

.region-list
  box-shadow: 1px 1px 2px 0px #888
  border: 0
  position: absolute
  width: 515px
