/* Hero section */

#hero-image
{
	display: block;
	width: 100%;
}

#hero-image-label
{
	bottom: 0;
	color: #fafafa;
	display: block;
	font-size: 14px;
	line-height: 40px;
	text-align: right;
	position: absolute;
	right: 208px;
}

#hero-mini-map
{
	bottom: 0;
	position: absolute;
	right: 0;
}

#hero-mini-map img 
{
	display: block;
}

#hero
{
	margin-bottom: 35px;  
	margin-top: 60px;
	position: relative;
	text-align: center;
}

#hero-words
{
	padding: 0;
	position: absolute;
	top: 20%;
	width: 100%;
}

#hero h1
{
	color: #fafafa;
	font-weight: 700;
	font-size: 80px;
	letter-spacing: -3px;
	margin: 0 auto 3%;
	padding: 0;
	text-shadow: 0px 1px 2px rgba(7, 8, 8, 0.75);
	text-transform: uppercase;
	width: 100%;
	white-space: nowrap;
}

#hero p
{
	color: #fafafa;
	font-size: 36px;
	font-weight: 600;
	margin: 0 auto;
	text-shadow: 0px 1px 2px rgba(7, 8, 8, 0.75);
	width: 100%;
}

#hero-start-exploring-container
{
	background-color: rgba(34, 34, 34, 0.9);
	border-radius: 3px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	text-align: center;
	top: 70%;
	left: 0;
	right: 0;
	width: 240px;
}

#hero-start-exploring
{
	background-color: #0fbe4d;
	border-radius: 3px;
	color: #fafafa;
	display: inline-block;
	font-size: 20px;
	padding: 10px 25px;
}


/* Content area */

.content
{
	margin: 0 auto;
	text-align: left;
	width: 1280px;
}


/* Slides */

#slides
{
	margin: 0 0px 30px;
	position: relative;
	overflow: auto; 
	width: 100%;
}

#slides img
{
	display: block;
}

.slidesjs-previous
{
	height: 100px;
	left: 0;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	width: 48px;
	z-index: 11;
}

.slidesjs-next
{
	height: 100px;
	margin-top: -50px;
	position: absolute;
	right: -2px;
	top: 50%;
	width: 48px;
	z-index: 11;
}

#slides-list
{
	display: none;
	position: relative;
}

.slidesjs-pagination
{
	display: none;
}



/* Tiles */

.tiles
{
	width: 100%;
}

.col-0, .col-1, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7
{
	margin-right: 2%;
	margin-bottom: 2%;
}


.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6
{
	float: left;
	width: 18.4%;	
}

.col-0, .col-7
{
	float: left;
	width: 38.8%;
}

.col-3,
.col-7
{
	margin-right: 0;
}

.col-4
{
	clear: both;
}

.col-1 a:first-child,
.col-2 a:first-child,
.col-5 a:first-child,
.col-6 a:first-child
{
	margin-bottom: 10.8%;
}

.tile
{
	-webkit-box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	border: 1px solid #eaeaea;
	display: block;
	overflow: hidden;
	position: relative;
}

.tile-category
{
	background-color: rgba(34, 34, 34, 0.85);
	color: #fff;
	font-size: 14px;
	left: 12px;
	padding: 3px 10px 2px;
	position: absolute;	
	top: 12px;
}

.tile-image
{
	display: block;
	width: 100%;
}

.tile-title-container
{
	background-color: rgba(255, 255, 255, 1);
	bottom: 0;
	position: absolute;
	width: 100%;
}

.tile-title
{
	color: #222;
	overflow: hidden;
	padding: 2% 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tile-text
{
	color: #222;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
}

.tile-tall .tile-title-container
{
	bottom: auto;
	top: 60px;
}

.tile-tall .tile-image
{
	margin-bottom: 139.5%;
}

.tile-tall .tile-title
{
	font-size: 24px;
	white-space: normal;
}


/* Orange footer */

#orange-footer
{
	background-color: #bf4b28;
	clear: both;
	height: 100px;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
}

#orange-footer-tag-line
{
	color: #fafafa;
	float: left;
	font-size: 18px;
	height: 100px;
	line-height: 100px;
	margin-left: 30px;
}

#orange-footer-start-exploring
{
	border: 3px solid white;
	border-radius: 5px;
	color: #fafafa;
	display: block;
	float: right;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin-right: 25px;
	padding-left: 36px;
	padding-right: 36px;
	position: relative;
	text-align: center;
	top: 25px;
}


/* Media queries */

@media (max-width: 1280px) {
	.content
	{
		width: 100%;
	}
}

@media (max-width: 992px) {

	#hero h1
	{
		font-size: 48px;
		letter-spacing: normal;
	}

	#hero p
	{
		font-size: 24px;
	}
}

@media (max-width: 768px) {

	#hero
	{
		margin-top: 0;
	}

	#hero h1
	{
		font-size: 36px;
	}

	#hero p
	{
		font-size: 18px;
	}

	#hero-image-label,
	#hero-mini-map
	{
		display: none;
	}

    #orange-footer
    {
    	text-align: center;
    }

    #orange-footer-tag-line
    {
    	display: none;
    }

    #orange-footer-start-exploring
    {
    	margin-left: 5%;
    	margin-right: 5%;
    	float: none;
    }
}

@media (max-width: 550px) {

	#hero
	{
		margin-bottom: 0;
	}

	#hero h1
	{
		font-size: 20px;
	}

	#hero p
	{
		font-size: 14px;
	}

	#hero-words
	{
		top: 15%;
	}
	
	#hero-start-exploring-container
	{
		border-radius: 0;
		position: static;
		margin-bottom: 0;
		margin-top: 0;
		width: 100%;
	}
}


