/* Hero section */

#hero-image
{
	display: block;
	width: 100%;
}

#hero-image-label
{
	bottom: 0;
	color: #fafafa;
	display: block;
	font-size: 14px;
	line-height: 40px;
	text-align: right;
	position: absolute;
	right: 208px;
}

#hero-mini-map
{
	bottom: 0;
	position: absolute;
	right: 0;
}

#hero-mini-map img 
{
	display: block;
}

#hero
{
	margin-top: 60px;
	margin-bottom: 45px;  
	position: relative;
	text-align: center;
}

#hero h1
{
	color: #fafafa;
	font-weight: 700;
	font-size: 80px;
	line-height: 80px;
	letter-spacing: -3px;
	margin: 0;
	position: absolute;
	text-shadow: 0px 1px 2px rgba(7, 8, 8, 0.75);
	text-transform: uppercase;
	top: 28%;
	width: 100%;
	white-space: nowrap;
}

#hero p 
{
	color: #fafafa;
	font-size: 36px;
	font-weight: 600;
	margin: 0;
	position: absolute;
	text-shadow: 0px 1px 2px rgba(7, 8, 8, 0.75);
	top: 39%;
	width: 100%;
}

#hero-start-exploring-container
{
	border-radius: 3px;
	background-color: rgba(34, 34, 34, 0.9);
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	padding-top: 20px;
	padding-bottom: 20px;
	position: absolute;
	right: 0;
	text-align: center;
	top: 54%;
	width: 240px;
}

#hero-start-exploring
{
	background-color: #0fbe4d;
	border-radius: 3px;
	color: #fafafa;
	display: inline-block;
	font-size: 20px;
	padding: 10px 25px;
}


/* Content area */

.content
{
	margin: 0 auto;
	text-align: left;
	width: 1280px;
}


/* Slides */

#slides
{
	margin: 0 0px 30px;
	position: relative;
	overflow: auto; 
	width: 100%;
}

#slide-left
{
	left: 0;
	margin-top: -50px;
	position: absolute;
	top: 50%;
	z-index: 1;
}

#slide-right
{
	margin-top: -50px;
	position: absolute;
	right: 0;
	top: 50%;
	z-index: 1;
}

#slides ul 
{
	margin: 0;
	padding: 0;
}

#slides ul li 
{
	height: 400px;
	float: left; 
	list-style: none; 
	background-size: cover;
	background-position: center center;
}

#slides h2 a
{
	color: #851b1b;
	display: block;
	font-size: 34px;
	font-weight: bold;
	margin-left: 60%;
	margin-top: 10%;
	width: 30%;
}

#slides p
{
	color: #851b1b;
	display: block;
	font-size: 20px;
	font-weight: normal;
	margin-left: 60%;
	width: 30%;
}



/* Tiles */

.tiles
{
	width: 100%;
}

.col-0, .col-1, .col-2, .col-3,
.col-4, .col-5, .col-6, .col-7
{
	margin-right: 2%;
	margin-bottom: 2%;
}


.col-1, .col-2, .col-3,
.col-4, .col-5, .col-6
{
	float: left;
	width: 18.4%;	
}

.col-0, .col-7
{
	float: left;
	width: 38.8%;
}

.col-3,
.col-7
{
	margin-right: 0;
}

.col-4
{
	clear: both;
}

.col-1 a:first-child,
.col-2 a:first-child,
.col-5 a:first-child,
.col-6 a:first-child
{
	margin-bottom: 10.8%;
}

.tile
{
	-webkit-box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	-moz-box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	box-shadow: 0px 1px 1px 0px rgba(7,8,8,0.15);
	border: 1px solid #eaeaea;
	display: block;
	overflow: hidden;
	position: relative;
}

.tile-category
{
	background-color: rgba(34, 34, 34, 0.85);
	color: #fff;
	font-size: 14px;
	left: 12px;
	padding: 3px 10px 2px;
	position: absolute;	
	top: 12px;
}

.tile-image
{
	display: block;
	width: 100%;
}

.tile-title-container
{
	background-color: rgba(255, 255, 255, 1);
	bottom: 0;
	position: absolute;
	width: 100%;
}

.tile-title
{
	color: #222;
	overflow: hidden;
	padding: 2% 20px;
	text-overflow: ellipsis;
	white-space: nowrap;
}

.tile-text
{
	color: #222;
	font-size: 16px;
	padding-left: 20px;
	padding-right: 20px;
	padding-top: 2%;
	padding-bottom: 2%;
}

.tile-tall .tile-title-container
{
	bottom: auto;
	top: 60px;
}

.tile-tall .tile-image
{
	margin-bottom: 139.5%;
}

.tile-tall .tile-title
{
	font-size: 24px;
	white-space: normal;
}


/* Orange footer */

#orange-footer
{
	background-color: #bf4b28;
	clear: both;
	height: 100px;
	margin-bottom: 60px;
	position: relative;
	width: 100%;
}

#orange-footer-tag-line
{
	color: #fafafa;
	float: left;
	font-size: 18px;
	height: 100px;
	line-height: 100px;
	margin-left: 30px;
}

#orange-footer-start-exploring
{
	border: 3px solid white;
	border-radius: 5px;
	color: #fafafa;
	display: block;
	font-size: 20px;
	height: 50px;
	line-height: 50px;
	margin-top: -25px;
	padding-left: 36px;
	padding-right: 36px;
	position: absolute;
	right: 25px;
	text-align: center;
	top: 50%;
}


/* Media queries */

@media (max-width: 1280px) {
	.content
	{
		width: 100%;
	}

	#tiles .col-0, #tiles .col-7
	{
		width: 49%;
	}

	#tiles .col-1, #tiles .col-2, #tiles .col-3, 
	#tiles .col-4, #tiles .col-5, #tiles .col-6
	{
		width: 23.5%;
	}

	#tiles .col-0, #tiles .col-1, #tiles .col-2, #tiles .col-3,
	#tiles .col-4,	#tiles .col-5, #tiles .col-6, #tiles .col-7
	{
		clear: none;
		margin-right: 2%;
	}

	#tiles .col-0, #tiles .col-3, #tiles .col-7
	{
		clear: both;
	}

	#tiles .col-2,
	#tiles .col-6
	{
		margin-right: 0;
	}
}

@media (max-width: 1020px) {
	.content
	{
		width: 100%;
	}

	#tiles .col-0, #tiles .col-7
	{
		width: 66%;
	}

	#tiles .col-1, #tiles .col-2, #tiles .col-3, 
	#tiles .col-4, #tiles .col-5, #tiles .col-6
	{
		width: 32%;
	}

	#tiles .col-0, #tiles .col-1, #tiles .col-2, #tiles .col-3,
	#tiles .col-4,	#tiles .col-5, #tiles .col-6, #tiles .col-7
	{
		clear: none;
		margin-right: 2%;
	}

	#tiles .col-0, 
	#tiles .col-2, 
	#tiles .col-5, 
	#tiles .col-7
	{
		clear: both;
	}

	#tiles .col-1,
	#tiles .col-4,
	#tiles .col-7
	{
		margin-right: 0;
	}
}

@media (max-width: 760px) {
	#tiles .col-0, #tiles .col-7
	{
		width: 100%;
	}
	
	#tiles .col-1, #tiles .col-2, #tiles .col-3, 
	#tiles .col-4, #tiles .col-5, #tiles .col-6
	{
		width: 50%;
	}

	#orange-footer-tag-line
	{
		display: none;
	}
}

@media (max-width: 600px) {
	#hero
	{
		margin-top: 0px;
	}
	
	#tiles .col-0, #tiles .col-7
	{
		width: 100%;
	}
	
	#tiles .col-1, #tiles .col-2, #tiles .col-3, 
	#tiles .col-4, #tiles .col-5, #tiles .col-6
	{
		width: 100%;
	}

	#orange-footer-tag-line
	{
		display: none;
	}
}

