/* Main container */

h1
{
    font-size: 32px;
    color: #222;
}

h2
{
    font-size: 24px;
    color: #222;
    margin-bottom: 20px;
}

ul
{
    margin: 0 auto 100px;    
    padding-left: 0;
    text-align: center;
    width: 1000px;

     @media (max-width: 1280px) {
        width: 90%;
    }
}

li
{
    margin-bottom: 10px;
    text-align: left;
}

#container 
{ 
    margin-top: 100px;
    text-align: center;
}

.content
{
    margin: 0 auto;
    text-align: left;
    width: 1280px;

    @media (max-width: 1280px) {
        width: 90%;
    }
}

#odn-logo
{
    display: block;
    margin: 0 auto 30px;    
    text-align: center;

    @media (max-width: 600px) {
        width: 90%;
    }
}

#p2
{
    margin-bottom: 50px;
}
