/* Variables */

$black-color: #222;

/* Content area */

.content
{
    margin: 60px auto 0;
    min-height: 500px;
    padding: 20px 0 40px;
    text-align: center;
    width: 1280px;

    @media (max-width: 1280px) 
    {
        width: 100%;
    }
}

.content a
{
    color: white;
    text-decoration: none;
}

.content a:hover
{
    text-decoration: underline;
}

.content h1
{
    color: #222;
    font-size: 24px;
    margin-bottom: 35px;
    text-align: left;
}

.content td:first-child a.content-title
{
    font-size: 24px;

    @media (max-width: 1280px) 
    {
        font-size: 18px;
    }

    @media (max-width: 768px) 
    {
        font-size: 12px;
    }
}

.content td
{    
    padding: 20px;
    text-align: center;

    @media (max-width: 768px) 
    {
        padding: 20px 2%;
    }

    @media (max-width: 550px) 
    {
        padding: 20px 1%;
    }
}

.content td:first-child
{
    width: 70%;

    @media (max-width: 768px) 
    {
        width: auto;
    }
}

.content-data
{    
    font-size: 24px;

    @media (max-width: 1280px) 
    {
        font-size: 18px;
        width: auto;
    }

    @media (max-width: 768px) 
    {
        font-size: 14px;
        width: auto;
    }
}

.content table
{
    margin: 0 auto;
    text-align: left;
}

.content td:first-child
{
    text-align: left;
}

.content-row
{
    border-bottom: 20px solid #fafafa;

    @media (max-width: 768px) 
    {
        border-bottom-width: 10px;
    }
}

.content-row:nth-child(10n+1)
{
    background-color: #2c3e50;
}

.content-row:nth-child(10n+2)
{
    background-color: #16a085;
}

.content-row:nth-child(10n+3)
{
    background-color: #27ae60;
}

.content-row:nth-child(10n+4)
{
    background-color: #95a5a6;
}

.content-row:nth-child(10n+5)
{
    background-color: #2980b9;
}

.content-row:nth-child(10n+6)
{
    background-color: #8e44ad;
}

.content-row:nth-child(10n+7)
{
    background-color: #f39c12;
}

.content-row:nth-child(10n+8)
{
    background-color: #c0392b;
}

.content-row:nth-child(10n+9)
{
    background-color: #7f8c8d;
}

.content-row:nth-child(10n+10)
{
    background-color: #d35400;
}

.content p
{
    color: white;

    @media (max-width: 1280px) 
    {
        display: none;
    }
}

.content p.description
{
    font-size: 12px;
}

.content p.population
{
    font-size: 12px;
}

.content label.views
{
    color: white;
    display: block;
    font-size: 12px;
}

.content .c 
{
    text-align: center;
}

