body
{
    font-family: arial, sans-serif;
    padding-top: 100px;
    text-align: center;
}

input[type="text"]
{
    margin: 0 auto 40px;
    font-size: 16px;
    padding: 8px 16px;
    width: 400px;
}

div.resultStats
{
    color: #808080;
    font-size: 13px;
    margin: 0 auto 40px;
    text-align: left;
    width: 992px;
}

ul.results
{
    margin: 0 auto 100px;
    padding: 0;
    text-align: left;
    width: 992px;
}

ul.results li
{
    list-style-type: none;
    margin: 0 0 20px;
    padding: 0;
}

ul.results .main 
{
    color: #1a0dab;
    font-size: 18px;
    text-decoration: none;;
}

ul.results .main:hover
{
    text-decoration: underline;
}

ul.results .domain
{
    color: #006621;
    font-size: 14px;
}

ul.results .description
{
    color: #545454;
    font-size: 13px;
}