/* Variables

$black-text-color: #222222
$blue-text-color: #2980b9
$dark-gray-background-color: #d2d6d7
$dark-gray-border-color: #bbbbbb
$dark-gray-arrow-color: #b3b3b3
$dark-gray-text-color: #7f8c8d
$darker-gray-background-color: #545454
$darker-gray-border-color: #5e5e5e
$darker-gray-text-color: #666666
$footer-background-color: #e5e9eb
$gray-background-color: #ecf0f1
$gray-border-color: #d4d9dc
$gray-check-border-color: #d1d1d1
$gray-text-color: #bdc3c7
$green-color: #27ae60
$orange-color: #ee3b3b

@import app
@import search-bar
@import compare-this-data-menu
@import current-category-info-box
@import info-icon
@import map-summary
@import charts
@import tables

*::-webkit-input-placeholder,
*:-moz-placeholder,
*::-moz-placeholder,
*:-ms-input-placeholder
  color: $gray-text-color

.hidden
  display: none

/* Refine section

section.refine
  background-color: $dark-gray-background-color
  text-align: left
  font-size: 16px
  line-height: 60px
  padding: 0 30px
  position: relative
  margin-top: 60px
  margin-bottom: -60px

.region-tokens
  margin-top: 8px
  margin-bottom: 32px

  .tokens
    li.region-token
      display: inline-block
      margin: 4px 0

      div
        display: inline-block
        white-space: nowrap
        overflow: hidden
        text-overflow: ellipsis
        max-width: 197px

      .fa-times-circle
        position: relative
        top: -3px

.tokens
  display: inline
  padding: 0
  font-size: 14px

.tokens li
  background-color: white
  border-radius: 2px
  border: 1px solid #CAD0D4
  display: inline
  margin: 0 0 0 5px
  padding: 5px 10px
  white-space: nowrap

.tokens li .fa-times-circle
  cursor: pointer
  margin-left: 5px

.category-token
  color: $orange-color

.domain-token
  color: $orange-color

.region-token
  color: $blue-text-color

.standard-token
  color: $orange-color
  text-transform: uppercase

.refine-link
  color: $blue-text-color
  cursor: pointer
  display: inline-block
  font-size: 16px
  float: right

.refine-link span
  padding: 0 25px

.refine-link-selected
  background-color: $darker-gray-background-color
  color: white

.refine-link .fa
  color: $dark-gray-arrow-color
  margin-left: 10px

.refine-link ul
  background-color: $darker-gray-background-color
  border-top: 1px solid $dark-gray-border-color
  display: block
  list-style-type: none
  margin: 0
  min-width: 145px
  padding: 0
  position: absolute
  z-index: 1000

.refine-link li
  border-top: 1px solid $darker-gray-border-color
  color: white
  font-size: 14px
  line-height: 40px
  margin: 0
  padding: 0 20px

.refine-link li:first-child
  border-top: 0

.refine-link li:hover
  background-color: $orange-color

#refine-menu-categories li
  padding-left: 34px
  position: relative
  text-transform: capitalize

#refine-menu-categories li .fa
  color: white
  left: 0
  position: absolute
  top: 13px

.refine-by-label
  color: $black-text-color
  float: right
  font-size: 14px
  margin-right: 25px

/* Results section

section.results
  border-top: 1px solid $gray-border-color
  display: table
  width: 100%
  margin-top: 60px
  min-height: 60px

/* Common datasets

.datasets
  background-color: white
  border: 1px solid $gray-border-color
  list-style-type: none
  margin: 0
  padding: 0

.datasets li
  border-top: 1px solid $gray-border-color
  padding: 15px

.datasets li:first-child
  border: none

.search-results-regular-column
  background-color: $gray-background-color
  display: table-cell
  text-align: left
  vertical-align: top

.search-results-container
  background-color: $gray-background-color
  padding: 30px 0

  .datasets-header
    font-size: 14px

    .result-count
      color: #2068AE

.datasets-header
  padding: 0 30px

  h2
    margin: 0

.datasets
  border: 1px solid $gray-border-color
  margin: 30px

  li
    color: $gray-text-color
    font-size: 14px
    list-style-type: none
    margin: 0
    padding: 15px 15px 15px 65px
    position: relative

    .tag
      color: $gray-text-color

    .tagLabel
      font-weight: 600

    h2
      margin: 0
      font-size: 20px
      font-weight: 300

      a
        color: $black-text-color

    a
      color: $blue-text-color
      cursor: pointer

    p
      color: $black-text-color

    .fa
      color: $blue-text-color
      font-size: 32px
      float: left
      margin-left: -45px
      margin-top: 3px

    .api-link
      background-color: $green-color
      border-radius: 3px
      color: white
      float: right
      font-size: 14px
      font-weight: 600
      height: 34px
      line-height: 34px
      padding-left: 18px
      padding-right: 18px

/* Charts

.charts-column
  background-color: white
  display: table-cell
  text-align: left
  vertical-align: top

.chart-tabs
  border-bottom: 1px solid $gray-border-color
  line-height: 55px
  margin: 0
  padding: 0 15px
  list-style-type: none
  text-align: left

.chart-tabs li
  color: $dark-gray-text-color
  display: inline-block
  padding: 0 20px
  font-size: 14px

.chart-tabs li.selected
  border-bottom: 5px solid $blue-text-color
  font-weight: 600

.chart-tabs li a
  color: $dark-gray-text-color
  display: block

.chart-tabs li a:hover
  color: $blue-text-color

.chart-tabs li.selected a
  color: $black-text-color

.charts
  padding: 0 35px

.charts-column h1
  font-size: 32px
  font-weight: 300
  margin: 25px 0 15px

.charts-column h2
  font-weight: normal

.charts-column p
  font-size: 14px;

.dataset-description
  color: $darker-gray-text-color
  margin: 0 35px 35px 35px
  padding: 24px
  background: #EBEFF0

  p
    padding: 0
    margin: 0
    margin-bottom: 16px

  .attribution
    display: block
    font-size: 12px
    text-align: center

    a
      color: $blue-text-color

.charts-column figure
  height: 320px
  max-width: 1000px
  margin: 0 auto 50px

/* Controls

.controls-column
  background-color: $footer-background-color
  border-left: 1px solid $gray-border-color
  display: table-cell
  text-align: left
  vertical-align: top
  width: 300px

.controls
  background-color: $gray-background-color
  padding: 30px

/* Similar locations

.controls h2
  color: $black-text-color
  font-size: 14px
  margin: 0 0 10px
  padding: 0
  text-transform: uppercase

.add-region
  background-color: white
  font-size: 14px
  height: 25px
  line-height: 25px
  margin: 0 0 10px
  position: relative

.add-region .fa-plus
  color: $blue-text-color
  cursor: pointer
  left: 6px
  position: absolute
  top: 6px

.add-region input[type="text"]
  box-sizing: border-box
  border: 0
  display: inline-block
  font-size: 14px
  height: 25px
  line-height: 25px
  padding: 0 0 0 25px
  margin: 0
  width: 100%

/* Similar regions

#similar-regions
  font-size: 14px
  list-style-type: none
  margin: 0 0 32px
  padding: 0

#similar-regions li
  margin: 0 0 10px
  padding: 0 0 0 26px
  position: relative

#similar-regions li .fa
  color: $blue-text-color
  position: absolute
  left: 6px
  top: 4px

#similar-regions li a
  color: $black-text-color
  cursor: pointer

/* Places in region

.places-in-region-list
  font-size: 14px
  list-style-type: none
  margin: 0 0 20px
  padding: 0

.places-in-region-list li
  margin: 0 0 5px

.places-in-region-list li a
  color: $blue-text-color
  cursor: pointer


.places-in-region-header
  font-size: 13px
  font-weight: bold
  margin: 20px 0 10px
  padding: 0
  text-transform: uppercase

  a
    color: black

/* Footer

.footer
  border-top: 1px solid $gray-border-color
  padding: 30px

.footer-links
  list-style-type: none
  margin: 0 0 20px
  padding: 0

.footer-links .blue-link
  color: $blue-text-color
  font-size: 14px
