/* Variables */

$black-text-color: #222222;
$blue-color: #3498db;
$gray-background-color: #ecf0f1;
$gray-border-color: #bdc3c7;
$gray-text-color: #7f8c8d;
$light-gray-border-color: #dbd6cf;

/* Search bar */

section.search-bar
{
    background-color: $gray-background-color;
    border-bottom: 1px solid $gray-border-color;
    padding: 50px 0;
}

/* Search results */

section.search-results
{
    display: table-row;
    text-align: left;
}

.search-results-pane
{
    display: table-cell;
    padding: 30px 30px 80px;
}

.search-results-pane ul
{
    margin: 0;
    padding: 0;
}

.search-results-pane li
{
    border-bottom: 1px solid $gray-border-color;
    color: $gray-text-color;
    font-size: 14px;
    list-style-type: none;
    margin: 0;
    padding: 25px 25px 25px 75px;
    position: relative;;
}

.search-results-pane h2
{
    margin: 0;
    font-size: 20px;
    font-weight: 300;
}

.search-results-pane h2 a
{
    color: $black-text-color;
}

.search-results-pane a
{
    color: $blue-color;
}

.search-results-pane p
{
    color: $black-text-color;
}

.search-results-pane .fa
{
    color: $blue-color;
    float: left;
    margin-left: -55px;
    margin-top: 3px;
    font-size: 30px;
}

.search-results-pane .search-results-header
{    
    font-size: 16px;
}

.search-categories-pane
{
    background-color: $gray-background-color;
    border-right: 1px solid $gray-border-color;
    display: table-cell;
    width: 285px;
}

.search-categories-pane ul
{
    margin: 0 34px 30px;
    padding: 0;
}

.search-categories-pane li
{
    color: $gray-text-color;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.search-categories-pane li.selected
{
    color: $blue-color;
}

.search-categories-list .fa
{
    font-size: 16px;
    margin-right: 15px;
}

.search-filter-by
{
    background-color: white;
    border: 1px solid $light-gray-border-color;
    border-radius: 3px;
    font-size: 14px;
    height: 35px;
    line-height: 35px;
    margin: 30px;
    padding-left: 15px;
    padding-right: 15px;
}

.search-filter-by .fa
{
    float: right;
    height: 35px;
    line-height: 35px;
}




