/* Variables */

$black-text-color: #222222;
$blue-background-color: #3498db;
$blue-icon-color: #3498db;
$category-item-width: 330px;
$container-width: 990px;
$gray-background-color: #ecf0f1;
$gray-text-color: #7f8c8d;
$green-color: #27ae60;

/* Blue section */

section.blue
{
    background-color: $blue-background-color;
    color: white;
    font-size: 60px;
    font-weight: 300;
    padding: 200px 0 140px; 
}

section.blue .fa 
{
    font-size: 50px;
}

section.blue h1
{
    margin: 0;
    padding: 0;
    text-transform: uppercase;
}

section.blue p
{
    font-size: 24px;
    margin: 0;
    padding: 0;
}

/* Gray section */

section.gray
{
    background-color: $gray-background-color;
    color: $gray-text-color
}

section.gray .container
{
    margin: 0 auto;
    padding: 60px 0;
    width: $container-width;
}

section.gray h4
{
    color: $black-text-color;
    font-size: 32px;
    font-weight: 700;
    margin: 0 0 60px;
    text-transform: uppercase;
}

section.gray ul
{
    float: left;
    padding: 0;    
    margin: 0;
}

section.gray li
{
    float: left;
    list-style-type: none;
    margin: 0;
    min-height: 250px;
    padding: 0;
    width: $category-item-width;
}

section.gray h3
{
    color: $blue-icon-color;
    font-size: 24px;
    font-weight: 300;
    margin: 0 0 15px;
}

section.gray .fa
{
    color: $blue-icon-color;
    display: block;
    font-size: 40px;
    height: 100%;
    line-height: 130px;
    width: 100%;
}

section.gray .icon
{
    background-image: url('/images/v2-category-background.png');
    display: inline-block;
    height: 130px;
    margin-bottom: 25px;
    width: 130px;
}

/* Partners */

section.partners
{
    background-color: white;
}

section.partners .container
{
    margin: 0 auto;
    padding: 60px 0;
    width: $container-width;
}

section.partners h4
{
    color: $black-text-color;
    font-size: 32px;
    font-weight: 700;
    margin: 0;
    text-transform: uppercase;
}

section.partners .slider 
{
    margin: 60px 0;
}

section.partners a
{
    background-color: $green-color;
    border-radius: 3px;
    color: white;
    display: inline-block;
    font-size: 20px;
    line-height: 50px;
    margin: 0 auto;
    padding-left: 30px;
    padding-right: 30px;
    vertical-align: middle;
}
