
<% if (questions.length > 0) { %>
    <div id="questions">
        <h2>
            Questions
        </h2>

        <div id="sidebar-questions">
            <% include _question-list %>
            <% include _show-more %>
        </div>
    </div>
<% } %>

